In [10]:
#leemos las librerias
library(readxl)
library(dplyr)
library(stringr)
library(fdth)
library("moments")

In [11]:
#funcion para poder sacar la moda
Mode <- function(x) {
  ux <- unique(x)
  ux[which.max(tabulate(match(x, ux)))]
}

In [12]:
#cargamos el archivo con la primera etapa de limpieza
Victoria_primaria <- read_excel ("C:/Users/ayrto/OneDrive/Escritorio/Exploración de Datos Multivariados/1 - Trabajo Practico/VICTORIA_BASE_PRIMARIA_LIMPIA.xlsx") 
Victoria_secundaria <- read_excel("C:/Users/ayrto/OneDrive/Escritorio/Exploración de Datos Multivariados/1 - Trabajo Practico/VICTORIA_BASE_SECUNDARIA_LIMPIA.xlsx")

In [13]:
names(Victoria_primaria) #mostramos las variables guardadas anteriormente
#seleccionames las que creemos esenciales
Victoria_primaria <- dplyr::select(Victoria_primaria,'CodigoUnicoEscolar','departamento','EsPrivada','turno','Año_curso','periodoEvaluatorio','Documento','asignatura','idalumno','observaciones','idSubOrganizacion','idDivision','NivelEnseñanza','orden','Nivel','esMultiaño','IdModEnseñanza','Modalidad','ModEnseñanza','NotasPrimerT','NotasSegundoT','NotasTercerT','Promedio','Condición')

 [1] "CodigoUnicoEscolar" "departamento"       "localidad"
 [4] "EsPrivada"          "turno"              "curso"
 [7] "periodoEvaluatorio" "Documento"          "asignatura"
[10] "idalumno"           "observaciones"      "idSubOrganizacion"
[13] "idDivision"         "NivelEnseñanza"     "orden"
[16] "Nivel"              "esMultiaño"         "IdModEnseñanza"
[19] "Modalidad"          "ModEnseñanza"       "año"
[22] "NotasPrimerT"       "NotasSegundoT"      "NotasTercerT"
[25] "Promedio"           "Condición"          "Año_curso"

In [14]:
#verificamos las variables y aplicamos otro filtro
names(Victoria_secundaria)
Victoria_secundaria <- dplyr::select(Victoria_secundaria,'CodigoUnicoEscolar','departamento','EsPrivada','turno','Año_curso','periodoEvaluatorio','Documento','asignatura','idalumno','observaciones','idSubOrganizacion','idDivision','NivelEnseñanza','orden','Nivel','esMultiaño','IdModEnseñanza','Modalidad','ModEnseñanza','NotasPrimerT','NotasSegundoT','NotasTercerT','Promedio','Condición')

 [1] "CodigoUnicoEscolar" "departamento"       "localidad"
 [4] "EsPrivada"          "turno"              "curso"
 [7] "periodoEvaluatorio" "Documento"          "asignatura"
[10] "idalumno"           "observaciones"      "idSubOrganizacion"
[13] "idDivision"         "NivelEnseñanza"     "orden"
[16] "Nivel"              "esMultiaño"         "IdModEnseñanza"
[19] "Modalidad"          "ModEnseñanza"       "año"
[22] "NotasPrimerT"       "NotasSegundoT"      "NotasTercerT"
[25] "Promedio"           "Condición"          "Año_curso"

In [15]:
table(Victoria_primaria$asignatura)#veemos si todas las materias fueron bien modificadas

                 AC.EN MATEMATICA Y CS. NATURALES
                                               53
                        ACOMPAÑAMIENTO AL ESTUDIO
                                               16
                                   ARTES VISUALES
                                             3426
                                       CATEQUESIS
                                              397
                               CIENCIAS NATURALES
                                             3402
                                CIENCIAS SOCIALES
                                             3227
                                              EDI
                                              448
                                 EDUCACION FISICA
                                             3392
                                EDUCACION MUSICAL
                                             3232
                            EDUCACION TECNOLOGICA
                                             3198
                                      INFORMATICA
                                              212
                                           INGLES
                                             1642
                                    INGLES INGLES
                                               43
                                         ITALIANO
                                              114
   LABORAT.EN EL AULA PARA ENSEÑAR/APRENDER CCIAS
                                              256
                                           LENGUA
                                             3364
                                       MATEMATICA
                                             3337
                 T/A ESTUDIO (LENGUA-CS SOCIALES)
                                                3
            T/A ESTUDIO (MATEMATICA-CS NATURALES)
                                                3
                                TALLER  DE TEATRO
                                              225
TALLER ACOMPAÑAMIENTO  MATEMATICA Y CS. NATURALES
                                                4
                                  TALLER CREATIVO
                                              146
                  TALLER DE CS. SOCIALES Y LENGUA
                                               57
                            TALLER DE LABORATORIO
                                              242
                TALLER LENGUA EXTRANJERA (INGLES)
                                                4
                                              TIC
                                              447

In [16]:
#ante una incorrecta modificacion, planteamos modificarlas antes de pasar a procesar los datos
Victoria_primaria$asignatura <- str_replace_all(Victoria_primaria$asignatura, "INGLES.*", "INGLES")
table(Victoria_primaria$asignatura)

                 AC.EN MATEMATICA Y CS. NATURALES
                                               53
                        ACOMPAÑAMIENTO AL ESTUDIO
                                               16
                                   ARTES VISUALES
                                             3426
                                       CATEQUESIS
                                              397
                               CIENCIAS NATURALES
                                             3402
                                CIENCIAS SOCIALES
                                             3227
                                              EDI
                                              448
                                 EDUCACION FISICA
                                             3392
                                EDUCACION MUSICAL
                                             3232
                            EDUCACION TECNOLOGICA
                                             3198
                                      INFORMATICA
                                              212
                                           INGLES
                                             1685
                                         ITALIANO
                                              114
   LABORAT.EN EL AULA PARA ENSEÑAR/APRENDER CCIAS
                                              256
                                           LENGUA
                                             3364
                                       MATEMATICA
                                             3337
                 T/A ESTUDIO (LENGUA-CS SOCIALES)
                                                3
            T/A ESTUDIO (MATEMATICA-CS NATURALES)
                                                3
                                TALLER  DE TEATRO
                                              225
TALLER ACOMPAÑAMIENTO  MATEMATICA Y CS. NATURALES
                                                4
                                  TALLER CREATIVO
                                              146
                  TALLER DE CS. SOCIALES Y LENGUA
                                               57
                            TALLER DE LABORATORIO
                                              242
                 TALLER LENGUA EXTRANJERA (INGLES
                                                4
                                              TIC
                                              447

In [17]:
table(Victoria_secundaria$asignatura) #veemos si todas las materias fueron bien modificadas

                                            ARTES VISUALES
                                                      2449
                                        BIDIMENSION I Y II
                                                        51
                                                  BIOLOGIA
                                                      3438
                                                     C.A.D
                                                        40
                                                CATEQUESIS
                                                       127
                                    CIENCIAS AGROPECUARIAS
                                                       185
                                              COMUNICACION
                                                        15
              COMUNICACION, EDUCACION Y NUEVAS TECNOLOGIAS
                                                         6
                                    CULTURA Y COMUNICACION
                                                         9
                                                   DERECHO
                                                       202
                                        DIBUJO DE MAQUINAS
                                                        24
                                            DIBUJO TECNICO
                                                       484
                                                  ECOLOGIA
                                                       190
                                                  ECONOMIA
                                                       804
                ECONOMIA REGIONAL Y ADMIN AGROPECUARIA POL
                                                         9
                               EDI CONTAMINACION AMBIENTAL
                                                        10
        EDI: COOPERATIVISMO Y FORMAS DE ORGANIZACION LABOR
                                                        10
                                          EDUCACION FISICA
                                                      3712
                                             ELECTROTECNIA
                                                        16
           ESPACIO DE LA ORIENTACION EN CIENCIAS NATURALES
                                                         1
                                                     ETICA
                                                      3887
                                                 FILOSOFIA
                                                       605
                                                    FISICA
                                                      1381
                                          FISICO Y QUIMICA
                                                      1785
                                         FISICO Y QUIMICA)
                                                       247
                      FORMULACION DE PROYECTOS PRODUCTIVOS
                                                        21
                                                   FRANCES
                                                       283
                                                 GEOGRAFIA
                                                      3780
                         HIDRAULICA Y MAQUINAS HIDRAULICAS
                                                        24
                                                  HISTORIA
                                                      3705
                        HISTORIA SOCIO CULTURAL DEL ARTE I
                                                        41
              HISTORIA SOCIO CULTURAL DEL ARTE I, II Y III
                                                        33
                                                    INGLES
                                                      3521
                          INTRODUCCION A LA ADMINISTRACION
                                                       132
                            INTRODUCCION A LA HOSPITALIDAD
                                                        17
     INTRODUCCION A LA INVESTIGACION EN CIENCIAS NATURALES
                                                       190
                                                  ITALIANO
                                                        38
                                     ITINERARIOS PROYECTOS
                                                       166
              LABORATORIO DE ENSAYOS DE MAQUINAS Y MOTORES
                                                        23
                       LABORATORIO DE ENSAYOS INDUSTRIALES
                                                        24
LABORATORIO DEL COLOR E INVESTIGACION DE MATERIALES I Y II
                                                        66
                                   LEGISLACION DEL TRABAJO
                                                        24
                 LEGISLACION LABORAL Y PRACTICA IMPOSITIVA
                                                       144
                                       LENGUA Y LITERATURA
                                                      3807
                                 LENGUAJE CORPORAL Y DANZA
                                                       178
                            LENGUAJE Y PRODUCCION VISUAL I
                                                        35
                           LENGUAJE Y PRODUCCION VISUAL II
                                                       168
                                     LENGUAJES ART. I Y II
                                                        15
                                      LENGUAJES ARTISTICOS
                                                        30
                                    LENGUAJES ARTISTICOS I
                                                       154
                     MANTENIMIENTO Y REPARACION DE EQUIPOS
                                                        23
                                         MAQUINAS TERMICAS
                                                        23
                        MAQUINAS Y ELEMENTOS DE TRANSPORTE
                                                        23
                                        MAQUINAS Y EQUIPOS
                                                        14
              MARCO JURIDICO DE LOS CIENCIAS AGROPECUARIAS
                                                         9
                                                MATEMATICA
                                                      4028
                                       MATEMATICA APLICADA
                                                        10
                        MECANICA APLICADA A LOS MECANISMOS
                                                        24
                                          MECANICA TECNICA
                                                        16
                                       MEDIO AMBIENTE SANO
                                                        36
            METALURGIA Y MATERIALES PARA CONSTR. MECANICAS
                                                        16
                           METODOLOGIA DE LA INVESTIGACION
                                                        96
                                                    MUSICA
                                                      2489
                                                 MUSICAL I
                                                        41
                                                MUSICAL II
                                                       168
                                    OFIMATICA Y LA WEB 2.0
                                                        90
                  OPINION PUBLICA Y MEDIOS DE COMUNICACION
                                                         6
              ORGANIZACION INDUSTRIAL Y RELACIONES HUMANAS
                                                        34
                         ORGANIZACION Y CONTROL INDUSTRIAL
                                                        23
          ORGANIZACION Y GESTION DE EMPRESAS AGROPECUARIAS
                                                        21
                                                 PORTUGUES
                                                       291
                                PRACTICAS COMUNICACIONALES
                                                        20
   PRACTICAS CORPORALES Y DEPORTIVAS EN EL MEDIO NATURAL I
                                                         8
                                      PRACTICAS EDUCATIVAS
                                                       669
                      PRACTICAS GIMNASTICAS Y EXPRESIVAS I
                                                         8
                     PRACTICAS GIMNASTICAS Y EXPRESIVAS II
                                                        18
            PRACTICAS LUDOMOTRICES Y DEPORTIVAS I II Y III
                                                        36
                        PRINCIPIOS BASICOS DE CONTABILIDAD
                                                       113
           PROBLEMATICAS CONTEMPORANEAS Y EDUCACION FISICA
                                                        17
                           PRODUCCION DE PLANTAS EN VIVERO
                                                        14
                        PRODUCCIONES ARTISTICAS INTEGRADAS
                                                       167
                                                  PROYECTO
                                                        23
                  PROYECTO DE PRACTICAS PROFESIONALIZANTES
                                                       146
                           PROYECTO PRODUCTIVO TECNOLOGICO
                                                        10
                                                PSICOLOGIA
                                                       547
                                                   QUIMICA
                                                      1646
                                          QUIMICA APLICADA
                                                        34
                                        RELACIONES HUMANAS
                                                        23
            RESISTENCIA Y CALCULO DE ELEMENTOS DE MAQUINAS
                                                        24
                                    RESPONSABILIDAD SOCIAL
                                                        19
                         SECTOR DE TECNOLOGIAS ESPECIFICAS
                                                        50
                            SEGURIDAD E HIGIENE INDUSTRIAL
                                                        46
                         SEMINARIO DE PRACTICA PROFESIONAL
                                                         2
                           SISTEMA DE INFORMACION CONTABLE
                                                       144
                                                SOCIOLOGIA
                                                        97
                                         STE - CUNICULTURA
                                                        31
                                   TALLER DE BIDIMENSION I
                                                        18
                                  TALLER DE BIDIMENSION II
                                                        30
                             TALLER DE TRIDIMENSION I Y II
                                                        65
                                                    TEATRO
                                                        51
                                                TECNOLOGIA
                                                      2255
                                     TECNOLOGIA DE CONTROL
                                                        10
                                     TECNOLOGIA DE GESTION
                                                        10
            TECNOLOGIA DE LA COMUNICACION Y LA INFORMATICA
                                                         8
               TECNOLOGIA DE LA INFORMACION Y COMUNICACION
                                                       456
            TECNOLOGIA DE LA INFORMACION Y LA COMUNICACION
                                                       139
                               TECNOLOGIA DE LOS ALIMENTOS
                                                        33
                              TECNOLOGIA DE LOS MATERIALES
                                                         8
           TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION
                                                        36
                    TEORIA Y GESTION DE LAS ORGANIZACIONES
                                                       201
                  TEORIA Y GESTION DE LAS ORGANIZACIONES I
                                                        15
                 TEORIA Y GESTION DE LAS ORGANIZACIONES II
                                                        37
                         TEORIAS DE LA COMUNICACION I Y II
                                                        20
                                             TERMODINAMICA
                                                        24
                             TRABAJOS PRACTICOS DE QUIMICA
                                                        28
                   TRABAJOS PRACTICOS DE QUIMICA ANALITICA
                                                        23
                    TRABAJOS PRACTICOS DE QUIMICA ORGANICA
                                                        23
            TRABAJOS PRACTICOS DE TECNOL. DE LOS ALIMENTOS
                                                        33
                                       TRIDIMENSION I Y II
                                                        50
                                                   TURISMO
                                                       180
                                                  TUTORIAS
                                                       139

In [18]:
#ante una incorrecta modificacion, planteamos modificarlas antes de pasar a procesar los datos
Victoria_secundaria$asignatura <- gsub("FISICO Y QUIMICA)", "FISICO Y QUIMICA", Victoria_secundaria$asignatura)
Victoria_secundaria$asignatura <- gsub("MATEMATICA APLICADA", "MATEMATICA", Victoria_secundaria$asignatura)
table(Victoria_secundaria$asignatura)

                                            ARTES VISUALES
                                                      2449
                                        BIDIMENSION I Y II
                                                        51
                                                  BIOLOGIA
                                                      3438
                                                     C.A.D
                                                        40
                                                CATEQUESIS
                                                       127
                                    CIENCIAS AGROPECUARIAS
                                                       185
                                              COMUNICACION
                                                        15
              COMUNICACION, EDUCACION Y NUEVAS TECNOLOGIAS
                                                         6
                                    CULTURA Y COMUNICACION
                                                         9
                                                   DERECHO
                                                       202
                                        DIBUJO DE MAQUINAS
                                                        24
                                            DIBUJO TECNICO
                                                       484
                                                  ECOLOGIA
                                                       190
                                                  ECONOMIA
                                                       804
                ECONOMIA REGIONAL Y ADMIN AGROPECUARIA POL
                                                         9
                               EDI CONTAMINACION AMBIENTAL
                                                        10
        EDI: COOPERATIVISMO Y FORMAS DE ORGANIZACION LABOR
                                                        10
                                          EDUCACION FISICA
                                                      3712
                                             ELECTROTECNIA
                                                        16
           ESPACIO DE LA ORIENTACION EN CIENCIAS NATURALES
                                                         1
                                                     ETICA
                                                      3887
                                                 FILOSOFIA
                                                       605
                                                    FISICA
                                                      1381
                                          FISICO Y QUIMICA
                                                      2032
                      FORMULACION DE PROYECTOS PRODUCTIVOS
                                                        21
                                                   FRANCES
                                                       283
                                                 GEOGRAFIA
                                                      3780
                         HIDRAULICA Y MAQUINAS HIDRAULICAS
                                                        24
                                                  HISTORIA
                                                      3705
                        HISTORIA SOCIO CULTURAL DEL ARTE I
                                                        41
              HISTORIA SOCIO CULTURAL DEL ARTE I, II Y III
                                                        33
                                                    INGLES
                                                      3521
                          INTRODUCCION A LA ADMINISTRACION
                                                       132
                            INTRODUCCION A LA HOSPITALIDAD
                                                        17
     INTRODUCCION A LA INVESTIGACION EN CIENCIAS NATURALES
                                                       190
                                                  ITALIANO
                                                        38
                                     ITINERARIOS PROYECTOS
                                                       166
              LABORATORIO DE ENSAYOS DE MAQUINAS Y MOTORES
                                                        23
                       LABORATORIO DE ENSAYOS INDUSTRIALES
                                                        24
LABORATORIO DEL COLOR E INVESTIGACION DE MATERIALES I Y II
                                                        66
                                   LEGISLACION DEL TRABAJO
                                                        24
                 LEGISLACION LABORAL Y PRACTICA IMPOSITIVA
                                                       144
                                       LENGUA Y LITERATURA
                                                      3807
                                 LENGUAJE CORPORAL Y DANZA
                                                       178
                            LENGUAJE Y PRODUCCION VISUAL I
                                                        35
                           LENGUAJE Y PRODUCCION VISUAL II
                                                       168
                                     LENGUAJES ART. I Y II
                                                        15
                                      LENGUAJES ARTISTICOS
                                                        30
                                    LENGUAJES ARTISTICOS I
                                                       154
                     MANTENIMIENTO Y REPARACION DE EQUIPOS
                                                        23
                                         MAQUINAS TERMICAS
                                                        23
                        MAQUINAS Y ELEMENTOS DE TRANSPORTE
                                                        23
                                        MAQUINAS Y EQUIPOS
                                                        14
              MARCO JURIDICO DE LOS CIENCIAS AGROPECUARIAS
                                                         9
                                                MATEMATICA
                                                      4038
                        MECANICA APLICADA A LOS MECANISMOS
                                                        24
                                          MECANICA TECNICA
                                                        16
                                       MEDIO AMBIENTE SANO
                                                        36
            METALURGIA Y MATERIALES PARA CONSTR. MECANICAS
                                                        16
                           METODOLOGIA DE LA INVESTIGACION
                                                        96
                                                    MUSICA
                                                      2489
                                                 MUSICAL I
                                                        41
                                                MUSICAL II
                                                       168
                                    OFIMATICA Y LA WEB 2.0
                                                        90
                  OPINION PUBLICA Y MEDIOS DE COMUNICACION
                                                         6
              ORGANIZACION INDUSTRIAL Y RELACIONES HUMANAS
                                                        34
                         ORGANIZACION Y CONTROL INDUSTRIAL
                                                        23
          ORGANIZACION Y GESTION DE EMPRESAS AGROPECUARIAS
                                                        21
                                                 PORTUGUES
                                                       291
                                PRACTICAS COMUNICACIONALES
                                                        20
   PRACTICAS CORPORALES Y DEPORTIVAS EN EL MEDIO NATURAL I
                                                         8
                                      PRACTICAS EDUCATIVAS
                                                       669
                      PRACTICAS GIMNASTICAS Y EXPRESIVAS I
                                                         8
                     PRACTICAS GIMNASTICAS Y EXPRESIVAS II
                                                        18
            PRACTICAS LUDOMOTRICES Y DEPORTIVAS I II Y III
                                                        36
                        PRINCIPIOS BASICOS DE CONTABILIDAD
                                                       113
           PROBLEMATICAS CONTEMPORANEAS Y EDUCACION FISICA
                                                        17
                           PRODUCCION DE PLANTAS EN VIVERO
                                                        14
                        PRODUCCIONES ARTISTICAS INTEGRADAS
                                                       167
                                                  PROYECTO
                                                        23
                  PROYECTO DE PRACTICAS PROFESIONALIZANTES
                                                       146
                           PROYECTO PRODUCTIVO TECNOLOGICO
                                                        10
                                                PSICOLOGIA
                                                       547
                                                   QUIMICA
                                                      1646
                                          QUIMICA APLICADA
                                                        34
                                        RELACIONES HUMANAS
                                                        23
            RESISTENCIA Y CALCULO DE ELEMENTOS DE MAQUINAS
                                                        24
                                    RESPONSABILIDAD SOCIAL
                                                        19
                         SECTOR DE TECNOLOGIAS ESPECIFICAS
                                                        50
                            SEGURIDAD E HIGIENE INDUSTRIAL
                                                        46
                         SEMINARIO DE PRACTICA PROFESIONAL
                                                         2
                           SISTEMA DE INFORMACION CONTABLE
                                                       144
                                                SOCIOLOGIA
                                                        97
                                         STE - CUNICULTURA
                                                        31
                                   TALLER DE BIDIMENSION I
                                                        18
                                  TALLER DE BIDIMENSION II
                                                        30
                             TALLER DE TRIDIMENSION I Y II
                                                        65
                                                    TEATRO
                                                        51
                                                TECNOLOGIA
                                                      2255
                                     TECNOLOGIA DE CONTROL
                                                        10
                                     TECNOLOGIA DE GESTION
                                                        10
            TECNOLOGIA DE LA COMUNICACION Y LA INFORMATICA
                                                         8
               TECNOLOGIA DE LA INFORMACION Y COMUNICACION
                                                       456
            TECNOLOGIA DE LA INFORMACION Y LA COMUNICACION
                                                       139
                               TECNOLOGIA DE LOS ALIMENTOS
                                                        33
                              TECNOLOGIA DE LOS MATERIALES
                                                         8
           TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION
                                                        36
                    TEORIA Y GESTION DE LAS ORGANIZACIONES
                                                       201
                  TEORIA Y GESTION DE LAS ORGANIZACIONES I
                                                        15
                 TEORIA Y GESTION DE LAS ORGANIZACIONES II
                                                        37
                         TEORIAS DE LA COMUNICACION I Y II
                                                        20
                                             TERMODINAMICA
                                                        24
                             TRABAJOS PRACTICOS DE QUIMICA
                                                        28
                   TRABAJOS PRACTICOS DE QUIMICA ANALITICA
                                                        23
                    TRABAJOS PRACTICOS DE QUIMICA ORGANICA
                                                        23
            TRABAJOS PRACTICOS DE TECNOL. DE LOS ALIMENTOS
                                                        33
                                       TRIDIMENSION I Y II
                                                        50
                                                   TURISMO
                                                       180
                                                  TUTORIAS
                                                       139

In [19]:
Victoria <- rbind(Victoria_primaria, Victoria_secundaria) #juntamos los archivos por si los necesitamos unidos

In [20]:
Fa <- table(Victoria$NivelEnseñanza)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_nivel <- round(cbind(Fa, Fr, fip,FA, FR),2)
print("Tabla de frecuencias de niveles")
tabla_frecuencias_nivel

[1] "Tabla de frecuencias de niveles"

           Fa    Fr   fip   FA    FR
PRIMARIO   30890 0.37 37.45 30890 0.37
SECUNDARIO 51591 0.63 62.55 82481 1.00

In [21]:
Fa <- table(Victoria$turno)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_turno <- round(cbind(Fa, Fr, fip,FA, FR),3)
tabla_frecuencias_turno #tabla de frecuencias de turnos

Fa <- table(Victoria_primaria$turno)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_turno_p <- round(cbind(Fa, Fr, fip,FA, FR),3)
tabla_frecuencias_turno_p #tabla de frecuencias de turnos nivel primario

Fa <- table(Victoria_secundaria$turno)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_turno_s <- round(cbind(Fa, Fr, fip,FA, FR),3)
tabla_frecuencias_turno_s #tabla de frecuencias de turnos nivel secundario

         Fa    Fr    fip    FA    FR
COMPLETO  5341 0.065  6.475  5341 0.065
MAÑANA   48675 0.590 59.014 54016 0.655
NOCHE     1423 0.017  1.725 55439 0.672
ROTATIVO    26 0.000  0.032 55465 0.672
TARDE    27016 0.328 32.754 82481 1.000

         Fa    Fr    fip    FA    FR
COMPLETO  5341 0.173 17.290  5341 0.173
MAÑANA   13581 0.440 43.966 18922 0.613
TARDE    11968 0.387 38.744 30890 1.000

         Fa    Fr    fip    FA    FR
MAÑANA   35094 0.680 68.023 35094 0.680
NOCHE     1423 0.028  2.758 36517 0.708
ROTATIVO    26 0.001  0.050 36543 0.708
TARDE    15048 0.292 29.168 51591 1.000

In [22]:
Fa <- table(Victoria_primaria$EsPrivada)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_sector_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_sector_p #tabla de frecuencias de gestion nivel primario

Fa <- table(Victoria_secundaria$EsPrivada)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_sector_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_sector_s #tabla de frecuencias de gestion nivel secundario

  Fa    Fr   fip   FA    FR
N 24336 0.79 78.78 24336 0.79
S  6554 0.21 21.22 30890 1.00

  Fa    Fr   fip   FA    FR
N 45869 0.89 88.91 45869 0.89
S  5722 0.11 11.09 51591 1.00

In [23]:
Fa <- table(Victoria_primaria$Año_curso)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_cursos_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_cursos_p #tabla de frecuencias de cursos nivel primario

Fa <- table(Victoria_secundaria$Año_curso)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_cursos_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_cursos_s #tabla de frecuencias de cursos nivel secundario

        Fa   Fr   fip   FA    FR
CUARTO  4416 0.14 14.30  4416 0.14
PRIMERO 5120 0.17 16.57  9536 0.31
QUINTO  5036 0.16 16.30 14572 0.47
SEGUNDO 5188 0.17 16.80 19760 0.64
SEXTO   5592 0.18 18.10 25352 0.82
TERCERO 5538 0.18 17.93 30890 1.00

        Fa    Fr   fip   FA    FR
CUARTO   8228 0.16 15.95  8228 0.16
PRIMERO  7845 0.15 15.21 16073 0.31
QUINTO   7567 0.15 14.67 23640 0.46
SEGUNDO 10177 0.20 19.73 33817 0.66
SEPTIMO   819 0.02  1.59 34636 0.67
SEXTO    8657 0.17 16.78 43293 0.84
TERCERO  8298 0.16 16.08 51591 1.00

In [24]:
Victoria_primaria[Victoria_primaria$ModEnseñanza == "Escuelas NINA", ]

     CodigoUnicoEscolar departamento EsPrivada turno  Año_curso
1    9000756            VICTORIA     N         MAÑANA SEXTO
2    9000756            VICTORIA     N         MAÑANA SEXTO
3    9000756            VICTORIA     N         MAÑANA SEXTO
4    9000756            VICTORIA     N         MAÑANA SEXTO
5    9000756            VICTORIA     N         MAÑANA SEXTO
6    9000756            VICTORIA     N         MAÑANA SEXTO
7    9000756            VICTORIA     N         MAÑANA SEXTO
8    9000756            VICTORIA     N         MAÑANA SEXTO
9    9000756            VICTORIA     N         MAÑANA SEXTO
10   9000756            VICTORIA     N         MAÑANA SEXTO
11   9000756            VICTORIA     N         MAÑANA SEXTO
12   9000756            VICTORIA     N         MAÑANA SEXTO
13   9000756            VICTORIA     N         MAÑANA SEXTO
14   9000756            VICTORIA     N         MAÑANA SEXTO
15   9000756            VICTORIA     N         MAÑANA SEXTO
16   9000756            VICTORIA     N         MAÑANA SEXTO
17   9000756            VICTORIA     N         MAÑANA SEXTO
18   9000756            VICTORIA     N         MAÑANA SEXTO
19   9000756            VICTORIA     N         MAÑANA SEXTO
20   9000756            VICTORIA     N         MAÑANA SEXTO
21   9000756            VICTORIA     N         MAÑANA SEXTO
22   9000756            VICTORIA     N         MAÑANA SEXTO
23   9000756            VICTORIA     N         MAÑANA QUINTO
24   9000756            VICTORIA     N         MAÑANA QUINTO
25   9000756            VICTORIA     N         MAÑANA QUINTO
26   9000756            VICTORIA     N         MAÑANA QUINTO
27   9000756            VICTORIA     N         MAÑANA QUINTO
28   9000756            VICTORIA     N         MAÑANA QUINTO
29   9000756            VICTORIA     N         MAÑANA QUINTO
30   9000756            VICTORIA     N         MAÑANA QUINTO
...  ...                ...          ...       ...    ...
1341 9000756            VICTORIA     N         TARDE  PRIMERO
1342 9000756            VICTORIA     N         TARDE  PRIMERO
1343 9000756            VICTORIA     N         TARDE  PRIMERO
1344 9000756            VICTORIA     N         TARDE  PRIMERO
1345 9000756            VICTORIA     N         TARDE  PRIMERO
1346 9000756            VICTORIA     N         TARDE  PRIMERO
1347 9000756            VICTORIA     N         TARDE  PRIMERO
1348 9000756            VICTORIA     N         TARDE  PRIMERO
1349 9000756            VICTORIA     N         TARDE  PRIMERO
1350 9000756            VICTORIA     N         TARDE  PRIMERO
1351 9000756            VICTORIA     N         TARDE  PRIMERO
1352 9000756            VICTORIA     N         TARDE  PRIMERO
1353 9000756            VICTORIA     N         TARDE  PRIMERO
1354 9000756            VICTORIA     N         TARDE  PRIMERO
1355 9000756            VICTORIA     N         TARDE  PRIMERO
1356 9000756            VICTORIA     N         TARDE  PRIMERO
1357 9000756            VICTORIA     N         TARDE  PRIMERO
1358 9000756            VICTORIA     N         TARDE  PRIMERO
1359 9000756            VICTORIA     N         TARDE  PRIMERO
1360 9000756            VICTORIA     N         TARDE  PRIMERO
1361 9000756            VICTORIA     N         TARDE  PRIMERO
1362 9000756            VICTORIA     N         TARDE  PRIMERO
1363 9000756            VICTORIA     N         TARDE  TERCERO
1364 9000756            VICTORIA     N         TARDE  TERCERO
1365 9000756            VICTORIA     N         TARDE  TERCERO
1366 9000756            VICTORIA     N         TARDE  TERCERO
1367 9000756            VICTORIA     N         TARDE  TERCERO
1368 9000756            VICTORIA     N         TARDE  TERCERO
1369 9000756            VICTORIA     N         TARDE  TERCERO
1370 9000756            VICTORIA     N         TARDE  TERCERO
     periodoEvaluatorio Documento asignatura                       idalumno
1    Tercer Trimestre   50443032  TALLER DE CS. SOCIALES Y LENGUA  427553
2    Tercer Trimestre   50443032  AC.EN MATEMATICA Y CS. NATURALES 427553
3    Tercer Trimestre   50443032  CIENCIAS NATURALES               427553
4    Tercer Trimestre   50443032  EDUCACION FISICA                 427553
5    Tercer Trimestre   50443032  EDUCACION TECNOLOGICA            427553
6    Tercer Trimestre   50443032  INGLES                           427553
7    Tercer Trimestre   50443032  LENGUA                           427553
8    Tercer Trimestre   50443032  LENGUA                           427553
9    Tercer Trimestre   50443032  TIC                              427553
10   Tercer Trimestre   50588009  TALLER DE CS. SOCIALES Y LENGUA  550261
11   Tercer Trimestre   50588009  AC.EN MATEMATICA Y CS. NATURALES 550261
12   Tercer Trimestre   50588009  ARTES VISUALES                   550261
13   Tercer Trimestre   50588009  CIENCIAS NATURALES               550261
14   Tercer Trimestre   50588009  CIENCIAS SOCIALES                550261
15   Tercer Trimestre   50588009  EDUCACION FISICA                 550261
16   Tercer Trimestre   50588009  EDUCACION FISICA                 550261
17   Tercer Trimestre   50588009  EDUCACION MUSICAL                550261
18   Tercer Trimestre   50588009  EDUCACION TECNOLOGICA            550261
19   Tercer Trimestre   50588009  INGLES                           550261
20   Tercer Trimestre   50588009  LENGUA                           550261
21   Tercer Trimestre   50588009  MATEMATICA                       550261
22   Tercer Trimestre   50588009  TIC                              550261
23   Tercer Trimestre   50588032  TALLER DE CS. SOCIALES Y LENGUA  631702
24   Tercer Trimestre   50588032  AC.EN MATEMATICA Y CS. NATURALES 631702
25   Tercer Trimestre   50588032  ARTES VISUALES                   631702
26   Tercer Trimestre   50588032  CIENCIAS NATURALES               631702
27   Tercer Trimestre   50588032  CIENCIAS SOCIALES                631702
28   Tercer Trimestre   50588032  EDUCACION FISICA                 631702
29   Tercer Trimestre   50588032  EDUCACION FISICA                 631702
30   Tercer Trimestre   50588032  EDUCACION MUSICAL                631702
...  ...                ...       ...                              ...
1341 Tercer Trimestre   56153292  EDUCACION MUSICAL                 823680
1342 Tercer Trimestre   56153292  EDUCACION TECNOLOGICA             823680
1343 Tercer Trimestre   56153337  ARTES VISUALES                    693146
1344 Tercer Trimestre   56153337  CIENCIAS NATURALES                693146
1345 Tercer Trimestre   56153337  CIENCIAS SOCIALES                 693146
1346 Tercer Trimestre   56153337  EDUCACION FISICA                  693146
1347 Tercer Trimestre   56153337  EDUCACION TECNOLOGICA             693146
1348 Tercer Trimestre   56153337  LENGUA                            693146
1349 Tercer Trimestre   56153337  MATEMATICA                        693146
1350 Tercer Trimestre   56153340  EDUCACION FISICA                 1010513
1351 Tercer Trimestre   56153340  EDUCACION MUSICAL                1010513
1352 Tercer Trimestre   56153340  EDUCACION TECNOLOGICA            1010513
1353 Tercer Trimestre   56153356  EDUCACION FISICA                  883233
1354 Tercer Trimestre   56153356  EDUCACION MUSICAL                 883233
1355 Tercer Trimestre   56153356  EDUCACION TECNOLOGICA             883233
1356 Tercer Trimestre   56153366  ARTES VISUALES                    823805
1357 Tercer Trimestre   56153366  CIENCIAS NATURALES                823805
1358 Tercer Trimestre   56153366  CIENCIAS SOCIALES                 823805
1359 Tercer Trimestre   56153366  EDUCACION FISICA                  823805
1360 Tercer Trimestre   56153366  EDUCACION TECNOLOGICA             823805
1361 Tercer Trimestre   56153366  LENGUA                            823805
1362 Tercer Trimestre   56153366  MATEMATICA                        823805
1363 Tercer Trimestre   56361672  ARTES VISUALES                    824010
1364 Tercer Trimestre   56361672  CIENCIAS NATURALES                824010
1365 Tercer Trimestre   56361672  CIENCIAS SOCIALES                 824010
1366 Tercer Trimestre   56361672  EDUCACION FISICA                  824010
1367 Tercer Trimestre   56361672  EDUCACION MUSICAL                 824010
1368 Tercer Trimestre   56361672  EDUCACION TECNOLOGICA             824010
1369 Tercer Trimestre   56361672  LENGUA                            824010
1370 Tercer Trimestre   56361672  MATEMATICA                        824010
     observaciones ... Nivel esMultiaño IdModEnseñanza Modalidad ModEnseñanza
1    NA            ... 2     N          15             Primaria  Escuelas NINA
2    NA            ... 2     N          15             Primaria  Escuelas NINA
3    NA            ... 2     N          15             Primaria  Escuelas NINA
4    NA            ... 2     N          15             Primaria  Escuelas NINA
5    NA            ... 2     N          15             Primaria  Escuelas NINA
6    NA            ... 2     N          15             Primaria  Escuelas NINA
7    NA            ... 2     N          15             Primaria  Escuelas NINA
8    NA            ... 2     N          15             Primaria  Escuelas NINA
9    NA            ... 2     N          15             Primaria  Escuelas NINA
10   NA            ... 2     N          15             Primaria  Escuelas NINA
11   NA            ... 2     N          15             Primaria  Escuelas NINA
12   NA            ... 2     N          15             Primaria  Escuelas NINA
13   NA            ... 2     N          15             Primaria  Escuelas NINA
14   NA            ... 2     N          15             Primaria  Escuelas NINA
15   NA            ... 2     N          15             Primaria  Escuelas NINA
16   NA            ... 2     N          15             Primaria  Escuelas NINA
17   NA            ... 2     N          15             Primaria  Escuelas NINA
18   NA            ... 2     N          15             Primaria  Escuelas NINA
19   NA            ... 2     N          15             Primaria  Escuelas NINA
20   NA            ... 2     N          15             Primaria  Escuelas NINA
21   NA            ... 2     N          15             Primaria  Escuelas NINA
22   NA            ... 2     N          15             Primaria  Escuelas NINA
23   NA            ... 2     N          15             Primaria  Escuelas NINA
24   NA            ... 2     N          15             Primaria  Escuelas NINA
25   NA            ... 2     N          15             Primaria  Escuelas NINA
26   NA            ... 2     N          15             Primaria  Escuelas NINA
27   NA            ... 2     N          15             Primaria  Escuelas NINA
28   NA            ... 2     N          15             Primaria  Escuelas NINA
29   NA            ... 2     N          15             Primaria  Escuelas NINA
30   NA            ... 2     N          15             Primaria  Escuelas NINA
...  ...               ...   ...        ...            ...       ...
1341 NA            ... 2     N          15             Primaria  Escuelas NINA
1342 NA            ... 2     N          15             Primaria  Escuelas NINA
1343 NA            ... 2     N          15             Primaria  Escuelas NINA
1344 NA            ... 2     N          15             Primaria  Escuelas NINA
1345 NA            ... 2     N          15             Primaria  Escuelas NINA
1346 NA            ... 2     N          15             Primaria  Escuelas NINA
1347 NA            ... 2     N          15             Primaria  Escuelas NINA
1348 NA            ... 2     N          15             Primaria  Escuelas NINA
1349 NA            ... 2     N          15             Primaria  Escuelas NINA
1350 NA            ... 2     N          15             Primaria  Escuelas NINA
1351 NA            ... 2     N          15             Primaria  Escuelas NINA
1352 NA            ... 2     N          15             Primaria  Escuelas NINA
1353 NA            ... 2     N          15             Primaria  Escuelas NINA
1354 NA            ... 2     N          15             Primaria  Escuelas NINA
1355 NA            ... 2     N          15             Primaria  Escuelas NINA
1356 NA            ... 2     N          15             Primaria  Escuelas NINA
1357 NA            ... 2     N          15             Primaria  Escuelas NINA
1358 NA            ... 2     N          15             Primaria  Escuelas NINA
1359 NA            ... 2     N          15             Primaria  Escuelas NINA
1360 NA            ... 2     N          15             Primaria  Escuelas NINA
1361 NA            ... 2     N          15             Primaria  Escuelas NINA
1362 NA            ... 2     N          15             Primaria  Escuelas NINA
1363 NA            ... 2     N          15             Primaria  Escuelas NINA
1364 NA            ... 2     N          15             Primaria  Escuelas NINA
1365 NA            ... 2     N          15             Primaria  Escuelas NINA
1366 NA            ... 2     N          15             Primaria  Escuelas NINA
1367 NA            ... 2     N          15             Primaria  Escuelas NINA
1368 NA            ... 2     N          15             Primaria  Escuelas NINA
1369 NA            ... 2     N          15             Primaria  Escuelas NINA
1370 NA            ... 2     N          15             Primaria  Escuelas NINA
     NotasPrimerT NotasSegundoT NotasTercerT Promedio Condición
1    8            7             6            7.00     Aprobado
2    8            8             8            8.00     Aprobado
3    9            6             6            7.00     Aprobado
4    8            8             9            8.33     Aprobado
5    8            8             8            8.00     Aprobado
6    8            8             8            8.00     Aprobado
7    8            6             6            6.67     Aprobado
8    8            7             6            7.00     Aprobado
9    8            8             8            8.00     Aprobado
10   7            6             5            6.00     Aprobado
11   5            5             5            5.00     Rinde
12   8            5             5            6.00     Aprobado
13   7            5             5            5.67     Rinde
14   7            5             5            5.67     Rinde
15   6            6             5            5.67     Rinde
16   8            5             5            6.00     Aprobado
17   7            5             5            5.67     Rinde
18   7            5             5            5.67     Rinde
19   5            5             5            5.00     Rinde
20   7            5             5            5.67     Rinde
21   7            5             5            5.67     Rinde
22   6            6             5            5.67     Rinde
23   5            5             6            5.33     Rinde
24   7            7             7            7.00     Aprobado
25   8            7             7            7.33     Aprobado
26   6            5             6            5.67     Rinde
27   6            6             6            6.00     Aprobado
28   7            7             7            7.00     Aprobado
29   9            9             9            9.00     Aprobado
30   6            6             7            6.33     Aprobado
...  ...          ...           ...          ...      ...
1341 8            9              9           8.67     Aprobado
1342 7            8              8           7.67     Aprobado
1343 7            6              7           6.67     Aprobado
1344 8            8              8           8.00     Aprobado
1345 8            8              8           8.00     Aprobado
1346 8            8              8           8.00     Aprobado
1347 7            7              8           7.33     Aprobado
1348 8            8              5           7.00     Aprobado
1349 8            8              5           7.00     Aprobado
1350 8            8              7           7.67     Aprobado
1351 5            7              7           6.33     Aprobado
1352 7            7              7           7.00     Aprobado
1353 8            8              9           8.33     Aprobado
1354 8            8              9           8.33     Aprobado
1355 7            8              8           7.67     Aprobado
1356 7            8              8           7.67     Aprobado
1357 8            9              8           8.33     Aprobado
1358 8            9              8           8.33     Aprobado
1359 8            8             10           8.67     Aprobado
1360 7            8              8           7.67     Aprobado
1361 7            8              5           6.67     Aprobado
1362 7            8              5           6.67     Aprobado
1363 8            8              9           8.33     Aprobado
1364 8            8              9           8.33     Aprobado
1365 7            7              9           7.67     Aprobado
1366 8            8              7           7.67     Aprobado
1367 5            5              7           5.67     Rinde
1368 7            8              8           7.67     Aprobado
1369 6            7              8           7.00     Aprobado
1370 6            6              9           7.00     Aprobado

In [25]:
Fa <- table(Victoria_primaria$ModEnseñanza)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_modEnseñanza_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_modEnseñanza_p #tabla de frecuencias de modos de enseñanza nivel primario

Fa <- table(Victoria_secundaria$ModEnseñanza)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_modEnseñanza_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_modEnseñanza_s #tabla de frecuencias de modos de enseñanza nivel secundario

              Fa    Fr   fip   FA    FR
Comun         29520 0.96 95.56 29520 0.96
Escuelas NINA  1370 0.04  4.44 30890 1.00

            Fa    Fr   fip   FA    FR
Agrotécnica  2081 0.04  4.03  2081 0.04
Comun       42910 0.83 83.17 44991 0.87
Técnica      6600 0.13 12.79 51591 1.00

In [26]:
Fa <- table(Victoria_primaria$Condición)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_condicion_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_condicion_p #tabla de frecuencias de condicion final nivel primario

Fa <- table(Victoria_secundaria$Condición)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_condicion_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_condicion_s #tabla de frecuencias de condicion final nivel secundario

         Fa    Fr   fip   FA    FR
Aprobado 29405 0.95 95.19 29405 0.95
Rinde     1485 0.05  4.81 30890 1.00

         Fa    Fr   fip   FA    FR
Aprobado 41912 0.81 81.24 41912 0.81
Rinde     9679 0.19 18.76 51591 1.00

In [28]:
#segmentamos la base por nivel, año y seleccionamos las materias troncales
Victoria_primaria_primero <- dplyr::select(filter(Victoria_primaria, Año_curso == "PRIMERO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_segundo <- dplyr::select(filter(Victoria_primaria, Año_curso == "SEGUNDO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_tercero <- dplyr::select(filter(Victoria_primaria, Año_curso == "TERCERO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_cuarto <- dplyr::select(filter(Victoria_primaria, Año_curso == "CUARTO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_quinto <- dplyr::select(filter(Victoria_primaria, Año_curso == "QUINTO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_sexto <- dplyr::select(filter(Victoria_primaria, Año_curso == "SEXTO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_septimo <- dplyr::select(filter(Victoria_primaria, Año_curso == "SEPTIMO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

In [29]:
#segmentamos la base por nivel, año y seleccionamos las materias troncales
Victoria_secundaria_primero <- dplyr::select(filter(Victoria_secundaria, Año_curso == "PRIMERO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_segundo <- dplyr::select(filter(Victoria_secundaria, Año_curso == "SEGUNDO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_tercero <- dplyr::select(filter(Victoria_secundaria, Año_curso == "TERCERO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_cuarto <- dplyr::select(filter(Victoria_secundaria, Año_curso == "CUARTO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_quinto <- dplyr::select(filter(Victoria_secundaria, Año_curso == "QUINTO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_sexto <- dplyr::select(filter(Victoria_secundaria, Año_curso == "SEXTO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_septimo <- dplyr::select(filter(Victoria_secundaria, Año_curso == "SEPTIMO" & (asignatura == "CIENCIAS AGROPECUARIAS" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

In [30]:
Frec_Prom_mat1 <- fdt(filter(Victoria_primaria_primero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge
Frec_Prom_mat1 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

Frec_Prom_len1 <- fdt(filter(Victoria_primaria_primero,asignatura== "LENGUA")$Promedio, breaks="Sturges", na.rm=TRUE)
Frec_Prom_len1

  Class limits  f   rf rf(%)  cf  cf(%)
  [4.95,5.418) 51 0.09  9.06  51   9.06
 [5.418,5.886) 19 0.03  3.37  70  12.43
 [5.886,6.355) 46 0.08  8.17 116  20.60
 [6.355,6.823) 36 0.06  6.39 152  27.00
 [6.823,7.291) 40 0.07  7.10 192  34.10
 [7.291,7.759) 76 0.13 13.50 268  47.60
 [7.759,8.227) 55 0.10  9.77 323  57.37
 [8.227,8.695) 92 0.16 16.34 415  73.71
 [8.695,9.164) 60 0.11 10.66 475  84.37
 [9.164,9.632) 44 0.08  7.82 519  92.18
  [9.632,10.1) 44 0.08  7.82 563 100.00

  Class limits   f   rf rf(%)  cf  cf(%)
  [4.95,5.418)  62 0.11 10.95  62  10.95
 [5.418,5.886)  25 0.04  4.42  87  15.37
 [5.886,6.355)  46 0.08  8.13 133  23.50
 [6.355,6.823)  34 0.06  6.01 167  29.51
 [6.823,7.291)  48 0.08  8.48 215  37.99
 [7.291,7.759)  86 0.15 15.19 301  53.18
 [7.759,8.227)  31 0.05  5.48 332  58.66
 [8.227,8.695) 102 0.18 18.02 434  76.68
 [8.695,9.164)  56 0.10  9.89 490  86.57
 [9.164,9.632)  41 0.07  7.24 531  93.82
  [9.632,10.1)  35 0.06  6.18 566 100.00

In [31]:
Frec_Prom_mat2 <- fdt(filter(Victoria_primaria_segundo,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) 
Frec_Prom_mat2

Frec_Prom_len2 <- fdt(filter(Victoria_primaria_segundo,asignatura== "LENGUA")$Promedio, breaks="Sturges", na.rm=TRUE)
Frec_Prom_len2

  Class limits  f   rf rf(%)  cf  cf(%)
  [4.95,5.418) 52 0.09  9.45  52   9.45
 [5.418,5.886) 19 0.03  3.45  71  12.91
 [5.886,6.355) 40 0.07  7.27 111  20.18
 [6.355,6.823) 26 0.05  4.73 137  24.91
 [6.823,7.291) 30 0.05  5.45 167  30.36
 [7.291,7.759) 75 0.14 13.64 242  44.00
 [7.759,8.227) 46 0.08  8.36 288  52.36
 [8.227,8.695) 99 0.18 18.00 387  70.36
 [8.695,9.164) 74 0.13 13.45 461  83.82
 [9.164,9.632) 43 0.08  7.82 504  91.64
  [9.632,10.1) 46 0.08  8.36 550 100.00

  Class limits   f   rf rf(%)  cf  cf(%)
  [4.95,5.418)  58 0.11 10.55  58  10.55
 [5.418,5.886)  27 0.05  4.91  85  15.45
 [5.886,6.355)  54 0.10  9.82 139  25.27
 [6.355,6.823)  19 0.03  3.45 158  28.73
 [6.823,7.291)  43 0.08  7.82 201  36.55
 [7.291,7.759)  54 0.10  9.82 255  46.36
 [7.759,8.227)  48 0.09  8.73 303  55.09
 [8.227,8.695) 110 0.20 20.00 413  75.09
 [8.695,9.164)  68 0.12 12.36 481  87.45
 [9.164,9.632)  39 0.07  7.09 520  94.55
  [9.632,10.1)  30 0.05  5.45 550 100.00

In [32]:
Frec_Prom_mat3 <- fdt(filter(Victoria_primaria_tercero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat3

Frec_Prom_len3 <- fdt(filter(Victoria_primaria_tercero,asignatura== "LENGUA")$Promedio, breaks="Sturges", na.rm=TRUE)
Frec_Prom_len3

  Class limits   f   rf rf(%)  cf  cf(%)
  [4.95,5.418)  48 0.08  8.30  48   8.30
 [5.418,5.886)  19 0.03  3.29  67  11.59
 [5.886,6.355)  56 0.10  9.69 123  21.28
 [6.355,6.823)  30 0.05  5.19 153  26.47
 [6.823,7.291)  46 0.08  7.96 199  34.43
 [7.291,7.759)  88 0.15 15.22 287  49.65
 [7.759,8.227)  50 0.09  8.65 337  58.30
 [8.227,8.695) 117 0.20 20.24 454  78.55
 [8.695,9.164)  47 0.08  8.13 501  86.68
 [9.164,9.632)  41 0.07  7.09 542  93.77
  [9.632,10.1)  36 0.06  6.23 578 100.00

  Class limits   f   rf rf(%)  cf  cf(%)
  [4.95,5.418)  63 0.11 10.92  63  10.92
 [5.418,5.886)  28 0.05  4.85  91  15.77
 [5.886,6.355)  66 0.11 11.44 157  27.21
 [6.355,6.823)  27 0.05  4.68 184  31.89
 [6.823,7.291)  43 0.07  7.45 227  39.34
 [7.291,7.759)  78 0.14 13.52 305  52.86
 [7.759,8.227)  46 0.08  7.97 351  60.83
 [8.227,8.695) 108 0.19 18.72 459  79.55
 [8.695,9.164)  54 0.09  9.36 513  88.91
 [9.164,9.632)  30 0.05  5.20 543  94.11
  [9.632,10.1)  34 0.06  5.89 577 100.00

In [33]:
Frec_Prom_mat4 <- fdt(filter(Victoria_primaria_cuarto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat4

Frec_Prom_len4 <- fdt(filter(Victoria_primaria_cuarto,asignatura== "LENGUA")$Promedio, breaks="Sturges", na.rm=TRUE)
Frec_Prom_len4

 Class limits   f   rf rf(%)  cf  cf(%)
 [4.95,5.465)  39 0.08  8.09  39   8.09
 [5.465,5.98)  30 0.06  6.22  69  14.32
 [5.98,6.495)  51 0.11 10.58 120  24.90
 [6.495,7.01)  52 0.11 10.79 172  35.68
 [7.01,7.525)  32 0.07  6.64 204  42.32
 [7.525,8.04) 105 0.22 21.78 309  64.11
 [8.04,8.555)  32 0.07  6.64 341  70.75
 [8.555,9.07)  83 0.17 17.22 424  87.97
 [9.07,9.585)  34 0.07  7.05 458  95.02
 [9.585,10.1)  24 0.05  4.98 482 100.00

 Class limits   f   rf rf(%)  cf  cf(%)
 [4.95,5.465)  55 0.12 11.73  55  11.73
 [5.465,5.98)  13 0.03  2.77  68  14.50
 [5.98,6.495)  43 0.09  9.17 111  23.67
 [6.495,7.01)  64 0.14 13.65 175  37.31
 [7.01,7.525)  29 0.06  6.18 204  43.50
 [7.525,8.04) 108 0.23 23.03 312  66.52
 [8.04,8.555)  22 0.05  4.69 334  71.22
 [8.555,9.07)  94 0.20 20.04 428  91.26
 [9.07,9.585)  27 0.06  5.76 455  97.01
 [9.585,10.1)  14 0.03  2.99 469 100.00

In [34]:
Frec_Prom_mat5 <- fdt(filter(Victoria_primaria_quinto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat5

Frec_Prom_len5 <- fdt(filter(Victoria_primaria_quinto,asignatura== "LENGUA")$Promedio, breaks="Sturges", na.rm=TRUE)
Frec_Prom_len5

 Class limits  f   rf rf(%)  cf  cf(%)
 [4.95,5.465) 53 0.10 10.41  53  10.41
 [5.465,5.98) 24 0.05  4.72  77  15.13
 [5.98,6.495) 51 0.10 10.02 128  25.15
 [6.495,7.01) 66 0.13 12.97 194  38.11
 [7.01,7.525) 36 0.07  7.07 230  45.19
 [7.525,8.04) 87 0.17 17.09 317  62.28
 [8.04,8.555) 58 0.11 11.39 375  73.67
 [8.555,9.07) 60 0.12 11.79 435  85.46
 [9.07,9.585) 20 0.04  3.93 455  89.39
 [9.585,10.1) 54 0.11 10.61 509 100.00

  Class limits  f   rf rf(%)  cf  cf(%)
  [4.95,5.418) 55 0.11 10.54  55  10.54
 [5.418,5.886) 20 0.04  3.83  75  14.37
 [5.886,6.355) 51 0.10  9.77 126  24.14
 [6.355,6.823) 28 0.05  5.36 154  29.50
 [6.823,7.291) 40 0.08  7.66 194  37.16
 [7.291,7.759) 85 0.16 16.28 279  53.45
 [7.759,8.227) 50 0.10  9.58 329  63.03
 [8.227,8.695) 75 0.14 14.37 404  77.39
 [8.695,9.164) 50 0.10  9.58 454  86.97
 [9.164,9.632) 25 0.05  4.79 479  91.76
  [9.632,10.1) 43 0.08  8.24 522 100.00

In [35]:
Frec_Prom_mat6 <- fdt(filter(Victoria_primaria_sexto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat6

Frec_Prom_len6 <- fdt(filter(Victoria_primaria_sexto,asignatura== "LENGUA")$Promedio, breaks="Sturges", na.rm=TRUE)
Frec_Prom_len6

 Class limits  f   rf rf(%)  cf  cf(%)
 [4.95,5.465) 42 0.08  8.24  42   8.24
 [5.465,5.98) 29 0.06  5.69  71  13.92
 [5.98,6.495) 67 0.13 13.14 138  27.06
 [6.495,7.01) 75 0.15 14.71 213  41.76
 [7.01,7.525) 37 0.07  7.25 250  49.02
 [7.525,8.04) 74 0.15 14.51 324  63.53
 [8.04,8.555) 37 0.07  7.25 361  70.78
 [8.555,9.07) 75 0.15 14.71 436  85.49
 [9.07,9.585) 26 0.05  5.10 462  90.59
 [9.585,10.1) 48 0.09  9.41 510 100.00

  Class limits  f   rf rf(%)  cf  cf(%)
  [4.95,5.418) 35 0.07  6.77  35   6.77
 [5.418,5.886) 27 0.05  5.22  62  11.99
 [5.886,6.355) 67 0.13 12.96 129  24.95
 [6.355,6.823) 38 0.07  7.35 167  32.30
 [6.823,7.291) 44 0.09  8.51 211  40.81
 [7.291,7.759) 88 0.17 17.02 299  57.83
 [7.759,8.227) 53 0.10 10.25 352  68.09
 [8.227,8.695) 62 0.12 11.99 414  80.08
 [8.695,9.164) 35 0.07  6.77 449  86.85
 [9.164,9.632) 24 0.05  4.64 473  91.49
  [9.632,10.1) 44 0.09  8.51 517 100.00

In [36]:
Frec_Prom_mat11 <- fdt(filter(Victoria_secundaria_primero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat11

Frec_Prom_len11 <- fdt(filter(Victoria_secundaria_primero,asignatura=="LENGUA Y LITERATURA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_len11

  Class limits  f   rf rf(%)  cf  cf(%)
 [2.643,3.321)  3 0.01  0.54   3   0.54
 [3.321,3.999) 16 0.03  2.88  19   3.42
 [3.999,4.677) 52 0.09  9.37  71  12.79
 [4.677,5.355) 97 0.17 17.48 168  30.27
 [5.355,6.033) 97 0.17 17.48 265  47.75
 [6.033,6.711) 88 0.16 15.86 353  63.60
 [6.711,7.388) 61 0.11 10.99 414  74.59
 [7.388,8.066) 60 0.11 10.81 474  85.41
 [8.066,8.744) 48 0.09  8.65 522  94.05
 [8.744,9.422) 22 0.04  3.96 544  98.02
  [9.422,10.1) 11 0.02  1.98 555 100.00

  Class limits  f   rf rf(%)  cf  cf(%)
 [3.297,3.915)  7 0.01  1.32   7   1.32
 [3.915,4.534) 23 0.04  4.35  30   5.67
 [4.534,5.152) 53 0.10 10.02  83  15.69
 [5.152,5.771) 56 0.11 10.59 139  26.28
 [5.771,6.389) 99 0.19 18.71 238  44.99
 [6.389,7.008) 84 0.16 15.88 322  60.87
 [7.008,7.626) 31 0.06  5.86 353  66.73
 [7.626,8.245) 76 0.14 14.37 429  81.10
 [8.245,8.863) 44 0.08  8.32 473  89.41
 [8.863,9.482) 37 0.07  6.99 510  96.41
  [9.482,10.1) 19 0.04  3.59 529 100.00

In [37]:
Frec_Prom_mat22 <- fdt(filter(Victoria_secundaria_segundo,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat22

Frec_Prom_len22 <- fdt(filter(Victoria_secundaria_segundo,asignatura=="LENGUA Y LITERATURA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_len22

  Class limits   f   rf rf(%)  cf  cf(%)
 [1.653,2.391)  10 0.02  1.68  10   1.68
 [2.391,3.128)  24 0.04  4.04  34   5.72
 [3.128,3.866)  49 0.08  8.25  83  13.97
 [3.866,4.604)  70 0.12 11.78 153  25.76
 [4.604,5.341) 113 0.19 19.02 266  44.78
 [5.341,6.079)  79 0.13 13.30 345  58.08
 [6.079,6.816)  72 0.12 12.12 417  70.20
 [6.816,7.554)  68 0.11 11.45 485  81.65
 [7.554,8.292)  44 0.07  7.41 529  89.06
 [8.292,9.029)  57 0.10  9.60 586  98.65
 [9.029,9.767)   8 0.01  1.35 594 100.00

  Class limits   f   rf rf(%)  cf  cf(%)
  [0.99,1.818)   2 0.00  0.33   2   0.33
 [1.818,2.646)   4 0.01  0.67   6   1.00
 [2.646,3.475)  10 0.02  1.67  16   2.68
 [3.475,4.303)  34 0.06  5.69  50   8.36
 [4.303,5.131)  78 0.13 13.04 128  21.40
 [5.131,5.959)  68 0.11 11.37 196  32.78
 [5.959,6.787) 143 0.24 23.91 339  56.69
 [6.787,7.615)  90 0.15 15.05 429  71.74
 [7.615,8.444)  98 0.16 16.39 527  88.13
 [8.444,9.272)  48 0.08  8.03 575  96.15
  [9.272,10.1)  23 0.04  3.85 598 100.00

In [38]:
Frec_Prom_mat33 <- fdt(filter(Victoria_secundaria_tercero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat33

Frec_Prom_len33 <- fdt(filter(Victoria_secundaria_tercero,asignatura=="LENGUA Y LITERATURA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_len33

  Class limits   f   rf rf(%)  cf  cf(%)
  [0.99,1.901)   3 0.01  0.59   3   0.59
 [1.901,2.812)   8 0.02  1.58  11   2.18
 [2.812,3.723)  27 0.05  5.35  38   7.52
 [3.723,4.634)  54 0.11 10.69  92  18.22
 [4.634,5.545)  83 0.16 16.44 175  34.65
 [5.545,6.456) 106 0.21 20.99 281  55.64
 [6.456,7.367) 103 0.20 20.40 384  76.04
 [7.367,8.278)  49 0.10  9.70 433  85.74
 [8.278,9.189)  60 0.12 11.88 493  97.62
  [9.189,10.1)  12 0.02  2.38 505 100.00

  Class limits   f   rf rf(%)  cf  cf(%)
 [1.653,2.498)   2 0.00  0.41   2   0.41
 [2.498,3.343)   6 0.01  1.24   8   1.65
 [3.343,4.187)  15 0.03  3.10  23   4.75
 [4.187,5.032)  55 0.11 11.36  78  16.12
 [5.032,5.877)  62 0.13 12.81 140  28.93
 [5.877,6.721) 135 0.28 27.89 275  56.82
 [6.721,7.566)  58 0.12 11.98 333  68.80
 [7.566,8.411)  77 0.16 15.91 410  84.71
 [8.411,9.255)  51 0.11 10.54 461  95.25
  [9.255,10.1)  23 0.05  4.75 484 100.00

In [39]:
Frec_Prom_mat44 <- fdt(filter(Victoria_secundaria_cuarto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat44

Frec_Prom_len44 <- fdt(filter(Victoria_secundaria_cuarto,asignatura=="LENGUA Y LITERATURA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_len44

  Class limits  f   rf rf(%)  cf  cf(%)
  [0.99,1.901)  5 0.01  1.04   5   1.04
 [1.901,2.812) 16 0.03  3.33  21   4.38
 [2.812,3.723) 33 0.07  6.88  54  11.25
 [3.723,4.634) 40 0.08  8.33  94  19.58
 [4.634,5.545) 70 0.15 14.58 164  34.17
 [5.545,6.456) 98 0.20 20.42 262  54.58
 [6.456,7.367) 89 0.19 18.54 351  73.12
 [7.367,8.278) 38 0.08  7.92 389  81.04
 [8.278,9.189) 61 0.13 12.71 450  93.75
  [9.189,10.1) 30 0.06  6.25 480 100.00

  Class limits  f   rf rf(%)  cf  cf(%)
  [1.98,2.792)  4 0.01  0.87   4   0.87
 [2.792,3.604)  6 0.01  1.30  10   2.17
 [3.604,4.416) 20 0.04  4.35  30   6.52
 [4.416,5.228) 37 0.08  8.04  67  14.57
  [5.228,6.04) 83 0.18 18.04 150  32.61
  [6.04,6.852) 61 0.13 13.26 211  45.87
 [6.852,7.664) 69 0.15 15.00 280  60.87
 [7.664,8.476) 91 0.20 19.78 371  80.65
 [8.476,9.288) 46 0.10 10.00 417  90.65
  [9.288,10.1) 43 0.09  9.35 460 100.00

In [40]:
Frec_Prom_mat55 <- fdt(filter(Victoria_secundaria_quinto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat55

Frec_Prom_len55 <- fdt(filter(Victoria_secundaria_quinto,asignatura=="LENGUA Y LITERATURA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_len55

  Class limits   f   rf rf(%)  cf  cf(%)
 [1.653,2.498)   5 0.01  1.31   5   1.31
 [2.498,3.343)  11 0.03  2.89  16   4.20
 [3.343,4.187)  12 0.03  3.15  28   7.35
 [4.187,5.032)  47 0.12 12.34  75  19.69
 [5.032,5.877)  23 0.06  6.04  98  25.72
 [5.877,6.721) 109 0.29 28.61 207  54.33
 [6.721,7.566)  56 0.15 14.70 263  69.03
 [7.566,8.411)  64 0.17 16.80 327  85.83
 [8.411,9.255)  33 0.09  8.66 360  94.49
  [9.255,10.1)  21 0.06  5.51 381 100.00

  Class limits  f   rf rf(%)  cf  cf(%)
  [1.98,2.792)  1 0.00  0.26   1   0.26
 [2.792,3.604)  2 0.01  0.53   3   0.79
 [3.604,4.416) 11 0.03  2.90  14   3.69
 [4.416,5.228) 21 0.06  5.54  35   9.23
  [5.228,6.04) 62 0.16 16.36  97  25.59
  [6.04,6.852) 33 0.09  8.71 130  34.30
 [6.852,7.664) 50 0.13 13.19 180  47.49
 [7.664,8.476) 94 0.25 24.80 274  72.30
 [8.476,9.288) 54 0.14 14.25 328  86.54
  [9.288,10.1) 51 0.13 13.46 379 100.00

In [41]:
Frec_Prom_mat66 <- fdt(filter(Victoria_secundaria_sexto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat66

Frec_Prom_len66 <- fdt(filter(Victoria_secundaria_sexto,asignatura=="LENGUA Y LITERATURA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_len66

  Class limits  f   rf rf(%)  cf  cf(%)
  [2.97,3.683)  8 0.02  2.42   8   2.42
 [3.683,4.396) 24 0.07  7.25  32   9.67
 [4.396,5.109) 32 0.10  9.67  64  19.34
 [5.109,5.822) 24 0.07  7.25  88  26.59
 [5.822,6.535) 75 0.23 22.66 163  49.24
 [6.535,7.248) 38 0.11 11.48 201  60.73
 [7.248,7.961) 38 0.11 11.48 239  72.21
 [7.961,8.674) 48 0.15 14.50 287  86.71
 [8.674,9.387) 24 0.07  7.25 311  93.96
  [9.387,10.1) 20 0.06  6.04 331 100.00

  Class limits  f   rf rf(%)  cf  cf(%)
 [2.643,3.389)  2 0.01  0.65   2   0.65
 [3.389,4.135)  6 0.02  1.96   8   2.61
  [4.135,4.88) 13 0.04  4.25  21   6.86
  [4.88,5.626) 12 0.04  3.92  33  10.78
 [5.626,6.372) 52 0.17 16.99  85  27.78
 [6.372,7.117) 36 0.12 11.76 121  39.54
 [7.117,7.863) 58 0.19 18.95 179  58.50
 [7.863,8.609) 49 0.16 16.01 228  74.51
 [8.609,9.354) 48 0.16 15.69 276  90.20
  [9.354,10.1) 30 0.10  9.80 306 100.00

In [43]:
Frec_Prom_mat77 <- fdt(filter(Victoria_secundaria_septimo,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_mat77

Frec_Prom_agro77 <- fdt(filter(Victoria_secundaria_septimo,asignatura=="CIENCIAS AGROPECUARIAS")$Promedio ,breaks="Sturges",na.rm=TRUE)
Frec_Prom_agro77

  Class limits f   rf rf(%) cf  cf(%)
 [5.277,6.241) 2 0.14 14.29  2  14.29
 [6.241,7.206) 4 0.29 28.57  6  42.86
 [7.206,8.171) 3 0.21 21.43  9  64.29
 [8.171,9.135) 4 0.29 28.57 13  92.86
  [9.135,10.1) 1 0.07  7.14 14 100.00

  Class limits  f   rf rf(%) cf  cf(%)
  [1.653,2.86)  1 0.02  2.04  1   2.04
  [2.86,4.067)  3 0.06  6.12  4   8.16
 [4.067,5.273)  2 0.04  4.08  6  12.24
  [5.273,6.48)  9 0.18 18.37 15  30.61
  [6.48,7.687) 20 0.41 40.82 35  71.43
 [7.687,8.893)  6 0.12 12.24 41  83.67
  [8.893,10.1)  8 0.16 16.33 49 100.00

In [35]:
Victoria_primaria_primero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     566    7.60  1.93     1.39   5      10     2.00 5     7.67    8.67
2 MATEMATICA 563    7.72  1.86     1.36   5      10     2.33 5     8.00    9.00
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 18.31
2 6.67 9.00 12.50 3.17 17.66

In [36]:
Victoria_primaria_segundo %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     550    7.66  1.98     1.41   5      10     2.34 5     8       9
2 MATEMATICA 550    7.81  1.94     1.39   5      10     2.00 5     8       9
  Q1   Q3   Sup.  Inf. CV
1 6.33 8.67 12.18 2.82 18.39
2 7.00 9.00 12.00 4.00 17.83

In [37]:
Victoria_primaria_tercero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     577    7.53  1.90     1.38   5      10     2.34 5     7.67    8.67
2 MATEMATICA 578    7.67  1.72     1.31   5      10     2.00 5     8.00    8.67
  Q1   Q3   Sup.  Inf. CV
1 6.33 8.67 12.18 2.82 18.31
2 6.67 8.67 11.67 3.67 17.08

In [38]:
Victoria_primaria_cuarto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR Rango Mediana Moda
1 LENGUA     469    7.51  1.76     1.33   5      10     2   5     7.67    8
2 MATEMATICA 482    7.57  1.76     1.33   5      10     2   5     7.67    8
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 17.68
2 6.67 8.67 11.67 3.67 17.54

In [39]:
Victoria_primaria_quinto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     522    7.58  1.91     1.38   5      10     2.00 5     7.67    8.00
2 MATEMATICA 509    7.55  1.97     1.40   5      10     2.34 5     7.67    8.33
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 18.21
2 6.33 8.67 12.18 2.82 18.58

In [40]:
Victoria_primaria_sexto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     517    7.52  1.78     1.33   5      10     2.00 5     7.67    8
2 MATEMATICA 510    7.55  1.97     1.40   5      10     2.34 5     7.67    7
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 17.75
2 6.33 8.67 12.18 2.82 18.60

In [41]:
Victoria_secundaria_primero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 529    6.78  2.20     1.48   3.33   10     2.33 6.67
2 MATEMATICA          555    6.43  2.21     1.49   2.67   10     2.34 7.33
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 6.67    6    5.67 8.00 11.50 2.17 21.90
2 6.33    6    5.33 7.67 11.18 1.82 23.13

In [42]:
Victoria_secundaria_segundo %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 598    6.50  2.61     1.61   1.00   10.00  2.34 9
2 MATEMATICA          594    5.82  3.03     1.74   1.67    9.67  2.67 8
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 6.33    6    5.33 7.67 11.18 1.82 24.85
2 6.00    6    4.33 7.00 11.00 0.33 29.91

In [43]:
Victoria_secundaria_tercero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 484    6.67  2.40     1.55   1.67   10     2.33 8.33
2 MATEMATICA          505    6.21  2.91     1.71   1.00   10     2.33 9.00
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 6.67    6    5.67 8.00 11.50 2.17 23.20
2 6.33    6    5.00 7.33 10.82 1.50 27.47

In [44]:
Victoria_secundaria_cuarto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 460    6.98  2.66     1.63   2      10     2.33 8
2 MATEMATICA          480    6.25  3.66     1.91   1      10     2.67 9
  Mediana Moda Q1 Q3   Sup.  Inf. CV
1 7.00    6.00 6  8.33 11.82 2.5  23.38
2 6.33    6.33 5  7.67 11.68 1.0  30.62

In [45]:
Victoria_secundaria_quinto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 379    7.39  2.50     1.58   2.00   10     2.67 8.00
2 MATEMATICA          381    6.62  2.73     1.65   1.67   10     2.00 8.33
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 7.67    8    6.00 8.67 12.68 2.00 21.41
2 6.67    6    5.67 7.67 10.67 2.67 24.94

In [46]:
Victoria_secundaria_sexto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 306    7.45  2.40     1.55   2.67   10     2.34 7.33
2 MATEMATICA          331    6.74  2.73     1.65   3.00   10     2.33 7.00
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 7.67    8    6.33 8.67 12.18 2.82 20.78
2 6.67    6    5.67 8.00 11.50 2.17 24.50

In [47]:
Victoria_secundaria_septimo %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura             Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 CIENCIAS AGROPECUARIAS 49     7.06  2.93     1.71   1.67   10     1.67 8.33
2 MATEMATICA             14     7.57  1.60     1.26   5.33   10     1.83 4.67
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 7.00    7.00 6.33 8.00 10.50 3.83 24.22
2 7.67    8.67 6.75 8.58 11.32 4.00 16.70

In [72]:
#coeficiente de asimetria sirve para medir la distribucion de los datos
#coef_sim = 0 ---> simetria perfecta
#coef_sim = negativa ---> simetria sesgada hacia la izquierda
#coef_sim = positiva ---> simetria sesgada hacia la derecha

#curtosis es para saber el alto de la punta y cola de la curva
#kurtosis = 0 ---> curva normal (campana de Gaus)
#kurtosis = negativa ---> colas mas altas y pico menos pronunciado
#kurtosis = positiva ---> colas mas bajas y pico mas pronunciado

coef_sim=skewness(filter(Victoria_primaria_primero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE) 
kurtosis=kurtosis(filter(Victoria_primaria_primero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.4117085
[1] "kurtosis"
[1] 2.130903

In [73]:
coef_sim=skewness(filter(Victoria_primaria_segundo,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_primaria_segundo,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.5173716
[1] "kurtosis"
[1] 2.196596

In [74]:
coef_sim=skewness(filter(Victoria_primaria_tercero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_primaria_tercero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.364174
[1] "kurtosis"
[1] 2.14396

In [75]:
coef_sim=skewness(filter(Victoria_primaria_cuarto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_primaria_cuarto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.2891223
[1] "kurtosis"
[1] 2.03639

In [76]:
coef_sim=skewness(filter(Victoria_primaria_quinto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE) #coeficiente de asimetria c=0 esta en el medio, negativo a la izq y positivo a la der
kurtosis=kurtosis(filter(Victoria_primaria_quinto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE) 
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.1400789
[1] "kurtosis"
[1] 2.064973

In [77]:
coef_sim=skewness(filter(Victoria_primaria_sexto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_primaria_sexto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.03557494
[1] "kurtosis"
[1] 1.985416

In [81]:
coef_sim=skewness(filter(Victoria_secundaria_primero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_secundaria_primero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] 0.1955109
[1] "kurtosis"
[1] 2.417796

In [82]:
coef_sim=skewness(filter(Victoria_secundaria_segundo,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_secundaria_segundo,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] 0.05687964
[1] "kurtosis"
[1] 2.262763

In [83]:
coef_sim=skewness(filter(Victoria_secundaria_tercero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_secundaria_tercero,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.1402992
[1] "kurtosis"
[1] 2.559758

In [84]:
coef_sim=skewness(filter(Victoria_secundaria_cuarto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_secundaria_cuarto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.2100899
[1] "kurtosis"
[1] 2.466484

In [85]:
coef_sim=skewness(filter(Victoria_secundaria_quinto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_secundaria_quinto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] -0.2883201
[1] "kurtosis"
[1] 2.826947

In [86]:
coef_sim=skewness(filter(Victoria_secundaria_sexto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_secundaria_sexto,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] 0.1081894
[1] "kurtosis"
[1] 2.293552

In [87]:
coef_sim=skewness(filter(Victoria_secundaria_septimo,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
kurtosis=kurtosis(filter(Victoria_secundaria_septimo,asignatura=="MATEMATICA")$Promedio, na.rm=TRUE)
print("coef_sim")
print(coef_sim)
print("kurtosis")
print(kurtosis)

[1] "coef_sim"
[1] 0.02419778
[1] "kurtosis"
[1] 2.398662