In [268]:
#leemos las librerias
library(readxl)
library(dplyr)
library(stringr)
library(fdth)

In [313]:
Mode <- function(x) {
  ux <- unique(x)
  ux[which.max(tabulate(match(x, ux)))]
}

In [269]:
#cargamos el archivo con la primera etapa de limpieza
Victoria_primaria <- read_excel ("C:/Users/ayrto/OneDrive/Escritorio/Exploración de Datos Multivariados/1 - Trabajo Practico/VICTORIA_BASE_PRIMARIA_LIMPIA.xlsx") 
Victoria_secundaria <- read_excel("C:/Users/ayrto/OneDrive/Escritorio/Exploración de Datos Multivariados/1 - Trabajo Practico/VICTORIA_BASE_SECUNDARIA_LIMPIA.xlsx")

In [270]:
names(Victoria_primaria)
Victoria_primaria <- dplyr::select(Victoria_primaria,'CodigoUnicoEscolar','departamento','EsPrivada','turno','Año_curso','periodoEvaluatorio','Documento','asignatura','idalumno','observaciones','idSubOrganizacion','idDivision','NivelEnseñanza','orden','Nivel','esMultiaño','IdModEnseñanza','Modalidad','ModEnseñanza','NotasPrimerT','NotasSegundoT','NotasTercerT','Promedio','Condición')

 [1] "CodigoUnicoEscolar" "departamento"       "localidad"
 [4] "EsPrivada"          "turno"              "curso"
 [7] "periodoEvaluatorio" "Documento"          "asignatura"
[10] "idalumno"           "observaciones"      "idSubOrganizacion"
[13] "idDivision"         "NivelEnseñanza"     "orden"
[16] "Nivel"              "esMultiaño"         "IdModEnseñanza"
[19] "Modalidad"          "ModEnseñanza"       "año"
[22] "NotasPrimerT"       "NotasSegundoT"      "NotasTercerT"
[25] "Promedio"           "Condición"          "Año_curso"

In [271]:
#verificamos las variables y aplicamos otro filtro
names(Victoria_secundaria)
Victoria_secundaria <- dplyr::select(Victoria_secundaria,'CodigoUnicoEscolar','departamento','EsPrivada','turno','Año_curso','periodoEvaluatorio','Documento','asignatura','idalumno','observaciones','idSubOrganizacion','idDivision','NivelEnseñanza','orden','Nivel','esMultiaño','IdModEnseñanza','Modalidad','ModEnseñanza','NotasPrimerT','NotasSegundoT','NotasTercerT','Promedio','Condición')

 [1] "CodigoUnicoEscolar" "departamento"       "localidad"
 [4] "EsPrivada"          "turno"              "curso"
 [7] "periodoEvaluatorio" "Documento"          "asignatura"
[10] "idalumno"           "observaciones"      "idSubOrganizacion"
[13] "idDivision"         "NivelEnseñanza"     "orden"
[16] "Nivel"              "esMultiaño"         "IdModEnseñanza"
[19] "Modalidad"          "ModEnseñanza"       "año"
[22] "NotasPrimerT"       "NotasSegundoT"      "NotasTercerT"
[25] "Promedio"           "Condición"          "Año_curso"

In [272]:
table(Victoria_primaria$asignatura)#veemos si todas las materias fueron bien modificadas

                 AC.EN MATEMATICA Y CS. NATURALES
                                               53
                        ACOMPAÑAMIENTO AL ESTUDIO
                                               16
                                   ARTES VISUALES
                                             3426
                                       CATEQUESIS
                                              397
                               CIENCIAS NATURALES
                                             3402
                                CIENCIAS SOCIALES
                                             3227
                                              EDI
                                              448
                                 EDUCACION FISICA
                                             3392
                                EDUCACION MUSICAL
                                             3232
                            EDUCACION TECNOLOGICA
                                             3198
                                      INFORMATICA
                                              212
                                           INGLES
                                             1642
                                    INGLES INGLES
                                               43
                                         ITALIANO
                                              114
   LABORAT.EN EL AULA PARA ENSEÑAR/APRENDER CCIAS
                                              256
                                           LENGUA
                                             3364
                                       MATEMATICA
                                             3337
                 T/A ESTUDIO (LENGUA-CS SOCIALES)
                                                3
            T/A ESTUDIO (MATEMATICA-CS NATURALES)
                                                3
                                TALLER  DE TEATRO
                                              225
TALLER ACOMPAÑAMIENTO  MATEMATICA Y CS. NATURALES
                                                4
                                  TALLER CREATIVO
                                              146
                  TALLER DE CS. SOCIALES Y LENGUA
                                               57
                            TALLER DE LABORATORIO
                                              242
                TALLER LENGUA EXTRANJERA (INGLES)
                                                4
                                              TIC
                                              447

In [273]:
#ante una incorrecta modificacion, planteamos modificarlas antes de pasar a procesar los datos
Victoria_primaria$asignatura <- str_replace_all(Victoria_primaria$asignatura, "INGLES.*", "INGLES")
table(Victoria_primaria$asignatura)

                 AC.EN MATEMATICA Y CS. NATURALES
                                               53
                        ACOMPAÑAMIENTO AL ESTUDIO
                                               16
                                   ARTES VISUALES
                                             3426
                                       CATEQUESIS
                                              397
                               CIENCIAS NATURALES
                                             3402
                                CIENCIAS SOCIALES
                                             3227
                                              EDI
                                              448
                                 EDUCACION FISICA
                                             3392
                                EDUCACION MUSICAL
                                             3232
                            EDUCACION TECNOLOGICA
                                             3198
                                      INFORMATICA
                                              212
                                           INGLES
                                             1685
                                         ITALIANO
                                              114
   LABORAT.EN EL AULA PARA ENSEÑAR/APRENDER CCIAS
                                              256
                                           LENGUA
                                             3364
                                       MATEMATICA
                                             3337
                 T/A ESTUDIO (LENGUA-CS SOCIALES)
                                                3
            T/A ESTUDIO (MATEMATICA-CS NATURALES)
                                                3
                                TALLER  DE TEATRO
                                              225
TALLER ACOMPAÑAMIENTO  MATEMATICA Y CS. NATURALES
                                                4
                                  TALLER CREATIVO
                                              146
                  TALLER DE CS. SOCIALES Y LENGUA
                                               57
                            TALLER DE LABORATORIO
                                              242
                 TALLER LENGUA EXTRANJERA (INGLES
                                                4
                                              TIC
                                              447

In [274]:
table(Victoria_secundaria$asignatura) #veemos si todas las materias fueron bien modificadas

                                            ARTES VISUALES
                                                      2449
                                        BIDIMENSION I Y II
                                                        51
                                                  BIOLOGIA
                                                      3438
                                                     C.A.D
                                                        40
                                                CATEQUESIS
                                                       127
                                    CIENCIAS AGROPECUARIAS
                                                       185
                                              COMUNICACION
                                                        15
              COMUNICACION, EDUCACION Y NUEVAS TECNOLOGIAS
                                                         6
                                    CULTURA Y COMUNICACION
                                                         9
                                                   DERECHO
                                                       202
                                        DIBUJO DE MAQUINAS
                                                        24
                                            DIBUJO TECNICO
                                                       484
                                                  ECOLOGIA
                                                       190
                                                  ECONOMIA
                                                       804
                ECONOMIA REGIONAL Y ADMIN AGROPECUARIA POL
                                                         9
                               EDI CONTAMINACION AMBIENTAL
                                                        10
        EDI: COOPERATIVISMO Y FORMAS DE ORGANIZACION LABOR
                                                        10
                                          EDUCACION FISICA
                                                      3712
                                             ELECTROTECNIA
                                                        16
           ESPACIO DE LA ORIENTACION EN CIENCIAS NATURALES
                                                         1
                                                     ETICA
                                                      3887
                                                 FILOSOFIA
                                                       605
                                                    FISICA
                                                      1381
                                          FISICO Y QUIMICA
                                                      1785
                                         FISICO Y QUIMICA)
                                                       247
                      FORMULACION DE PROYECTOS PRODUCTIVOS
                                                        21
                                                   FRANCES
                                                       283
                                                 GEOGRAFIA
                                                      3780
                         HIDRAULICA Y MAQUINAS HIDRAULICAS
                                                        24
                                                  HISTORIA
                                                      3705
                        HISTORIA SOCIO CULTURAL DEL ARTE I
                                                        41
              HISTORIA SOCIO CULTURAL DEL ARTE I, II Y III
                                                        33
                                                    INGLES
                                                      3521
                          INTRODUCCION A LA ADMINISTRACION
                                                       132
                            INTRODUCCION A LA HOSPITALIDAD
                                                        17
     INTRODUCCION A LA INVESTIGACION EN CIENCIAS NATURALES
                                                       190
                                                  ITALIANO
                                                        38
                                     ITINERARIOS PROYECTOS
                                                       166
              LABORATORIO DE ENSAYOS DE MAQUINAS Y MOTORES
                                                        23
                       LABORATORIO DE ENSAYOS INDUSTRIALES
                                                        24
LABORATORIO DEL COLOR E INVESTIGACION DE MATERIALES I Y II
                                                        66
                                   LEGISLACION DEL TRABAJO
                                                        24
                 LEGISLACION LABORAL Y PRACTICA IMPOSITIVA
                                                       144
                                       LENGUA Y LITERATURA
                                                      3807
                                 LENGUAJE CORPORAL Y DANZA
                                                       178
                            LENGUAJE Y PRODUCCION VISUAL I
                                                        35
                           LENGUAJE Y PRODUCCION VISUAL II
                                                       168
                                     LENGUAJES ART. I Y II
                                                        15
                                      LENGUAJES ARTISTICOS
                                                        30
                                    LENGUAJES ARTISTICOS I
                                                       154
                     MANTENIMIENTO Y REPARACION DE EQUIPOS
                                                        23
                                         MAQUINAS TERMICAS
                                                        23
                        MAQUINAS Y ELEMENTOS DE TRANSPORTE
                                                        23
                                        MAQUINAS Y EQUIPOS
                                                        14
              MARCO JURIDICO DE LOS CIENCIAS AGROPECUARIAS
                                                         9
                                                MATEMATICA
                                                      4028
                                       MATEMATICA APLICADA
                                                        10
                        MECANICA APLICADA A LOS MECANISMOS
                                                        24
                                          MECANICA TECNICA
                                                        16
                                       MEDIO AMBIENTE SANO
                                                        36
            METALURGIA Y MATERIALES PARA CONSTR. MECANICAS
                                                        16
                           METODOLOGIA DE LA INVESTIGACION
                                                        96
                                                    MUSICA
                                                      2489
                                                 MUSICAL I
                                                        41
                                                MUSICAL II
                                                       168
                                    OFIMATICA Y LA WEB 2.0
                                                        90
                  OPINION PUBLICA Y MEDIOS DE COMUNICACION
                                                         6
              ORGANIZACION INDUSTRIAL Y RELACIONES HUMANAS
                                                        34
                         ORGANIZACION Y CONTROL INDUSTRIAL
                                                        23
          ORGANIZACION Y GESTION DE EMPRESAS AGROPECUARIAS
                                                        21
                                                 PORTUGUES
                                                       291
                                PRACTICAS COMUNICACIONALES
                                                        20
   PRACTICAS CORPORALES Y DEPORTIVAS EN EL MEDIO NATURAL I
                                                         8
                                      PRACTICAS EDUCATIVAS
                                                       669
                      PRACTICAS GIMNASTICAS Y EXPRESIVAS I
                                                         8
                     PRACTICAS GIMNASTICAS Y EXPRESIVAS II
                                                        18
            PRACTICAS LUDOMOTRICES Y DEPORTIVAS I II Y III
                                                        36
                        PRINCIPIOS BASICOS DE CONTABILIDAD
                                                       113
           PROBLEMATICAS CONTEMPORANEAS Y EDUCACION FISICA
                                                        17
                           PRODUCCION DE PLANTAS EN VIVERO
                                                        14
                        PRODUCCIONES ARTISTICAS INTEGRADAS
                                                       167
                                                  PROYECTO
                                                        23
                  PROYECTO DE PRACTICAS PROFESIONALIZANTES
                                                       146
                           PROYECTO PRODUCTIVO TECNOLOGICO
                                                        10
                                                PSICOLOGIA
                                                       547
                                                   QUIMICA
                                                      1646
                                          QUIMICA APLICADA
                                                        34
                                        RELACIONES HUMANAS
                                                        23
            RESISTENCIA Y CALCULO DE ELEMENTOS DE MAQUINAS
                                                        24
                                    RESPONSABILIDAD SOCIAL
                                                        19
                         SECTOR DE TECNOLOGIAS ESPECIFICAS
                                                        50
                            SEGURIDAD E HIGIENE INDUSTRIAL
                                                        46
                         SEMINARIO DE PRACTICA PROFESIONAL
                                                         2
                           SISTEMA DE INFORMACION CONTABLE
                                                       144
                                                SOCIOLOGIA
                                                        97
                                         STE - CUNICULTURA
                                                        31
                                   TALLER DE BIDIMENSION I
                                                        18
                                  TALLER DE BIDIMENSION II
                                                        30
                             TALLER DE TRIDIMENSION I Y II
                                                        65
                                                    TEATRO
                                                        51
                                                TECNOLOGIA
                                                      2255
                                     TECNOLOGIA DE CONTROL
                                                        10
                                     TECNOLOGIA DE GESTION
                                                        10
            TECNOLOGIA DE LA COMUNICACION Y LA INFORMATICA
                                                         8
               TECNOLOGIA DE LA INFORMACION Y COMUNICACION
                                                       456
            TECNOLOGIA DE LA INFORMACION Y LA COMUNICACION
                                                       139
                               TECNOLOGIA DE LOS ALIMENTOS
                                                        33
                              TECNOLOGIA DE LOS MATERIALES
                                                         8
           TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION
                                                        36
                    TEORIA Y GESTION DE LAS ORGANIZACIONES
                                                       201
                  TEORIA Y GESTION DE LAS ORGANIZACIONES I
                                                        15
                 TEORIA Y GESTION DE LAS ORGANIZACIONES II
                                                        37
                         TEORIAS DE LA COMUNICACION I Y II
                                                        20
                                             TERMODINAMICA
                                                        24
                             TRABAJOS PRACTICOS DE QUIMICA
                                                        28
                   TRABAJOS PRACTICOS DE QUIMICA ANALITICA
                                                        23
                    TRABAJOS PRACTICOS DE QUIMICA ORGANICA
                                                        23
            TRABAJOS PRACTICOS DE TECNOL. DE LOS ALIMENTOS
                                                        33
                                       TRIDIMENSION I Y II
                                                        50
                                                   TURISMO
                                                       180
                                                  TUTORIAS
                                                       139

In [275]:
#ante una incorrecta modificacion, planteamos modificarlas antes de pasar a procesar los datos
Victoria_secundaria$asignatura <- gsub("FISICO Y QUIMICA)", "FISICO Y QUIMICA", Victoria_secundaria$asignatura)
Victoria_secundaria$asignatura <- gsub("MATEMATICA APLICADA", "MATEMATICA", Victoria_secundaria$asignatura)
table(Victoria_secundaria$asignatura)

                                            ARTES VISUALES
                                                      2449
                                        BIDIMENSION I Y II
                                                        51
                                                  BIOLOGIA
                                                      3438
                                                     C.A.D
                                                        40
                                                CATEQUESIS
                                                       127
                                    CIENCIAS AGROPECUARIAS
                                                       185
                                              COMUNICACION
                                                        15
              COMUNICACION, EDUCACION Y NUEVAS TECNOLOGIAS
                                                         6
                                    CULTURA Y COMUNICACION
                                                         9
                                                   DERECHO
                                                       202
                                        DIBUJO DE MAQUINAS
                                                        24
                                            DIBUJO TECNICO
                                                       484
                                                  ECOLOGIA
                                                       190
                                                  ECONOMIA
                                                       804
                ECONOMIA REGIONAL Y ADMIN AGROPECUARIA POL
                                                         9
                               EDI CONTAMINACION AMBIENTAL
                                                        10
        EDI: COOPERATIVISMO Y FORMAS DE ORGANIZACION LABOR
                                                        10
                                          EDUCACION FISICA
                                                      3712
                                             ELECTROTECNIA
                                                        16
           ESPACIO DE LA ORIENTACION EN CIENCIAS NATURALES
                                                         1
                                                     ETICA
                                                      3887
                                                 FILOSOFIA
                                                       605
                                                    FISICA
                                                      1381
                                          FISICO Y QUIMICA
                                                      2032
                      FORMULACION DE PROYECTOS PRODUCTIVOS
                                                        21
                                                   FRANCES
                                                       283
                                                 GEOGRAFIA
                                                      3780
                         HIDRAULICA Y MAQUINAS HIDRAULICAS
                                                        24
                                                  HISTORIA
                                                      3705
                        HISTORIA SOCIO CULTURAL DEL ARTE I
                                                        41
              HISTORIA SOCIO CULTURAL DEL ARTE I, II Y III
                                                        33
                                                    INGLES
                                                      3521
                          INTRODUCCION A LA ADMINISTRACION
                                                       132
                            INTRODUCCION A LA HOSPITALIDAD
                                                        17
     INTRODUCCION A LA INVESTIGACION EN CIENCIAS NATURALES
                                                       190
                                                  ITALIANO
                                                        38
                                     ITINERARIOS PROYECTOS
                                                       166
              LABORATORIO DE ENSAYOS DE MAQUINAS Y MOTORES
                                                        23
                       LABORATORIO DE ENSAYOS INDUSTRIALES
                                                        24
LABORATORIO DEL COLOR E INVESTIGACION DE MATERIALES I Y II
                                                        66
                                   LEGISLACION DEL TRABAJO
                                                        24
                 LEGISLACION LABORAL Y PRACTICA IMPOSITIVA
                                                       144
                                       LENGUA Y LITERATURA
                                                      3807
                                 LENGUAJE CORPORAL Y DANZA
                                                       178
                            LENGUAJE Y PRODUCCION VISUAL I
                                                        35
                           LENGUAJE Y PRODUCCION VISUAL II
                                                       168
                                     LENGUAJES ART. I Y II
                                                        15
                                      LENGUAJES ARTISTICOS
                                                        30
                                    LENGUAJES ARTISTICOS I
                                                       154
                     MANTENIMIENTO Y REPARACION DE EQUIPOS
                                                        23
                                         MAQUINAS TERMICAS
                                                        23
                        MAQUINAS Y ELEMENTOS DE TRANSPORTE
                                                        23
                                        MAQUINAS Y EQUIPOS
                                                        14
              MARCO JURIDICO DE LOS CIENCIAS AGROPECUARIAS
                                                         9
                                                MATEMATICA
                                                      4038
                        MECANICA APLICADA A LOS MECANISMOS
                                                        24
                                          MECANICA TECNICA
                                                        16
                                       MEDIO AMBIENTE SANO
                                                        36
            METALURGIA Y MATERIALES PARA CONSTR. MECANICAS
                                                        16
                           METODOLOGIA DE LA INVESTIGACION
                                                        96
                                                    MUSICA
                                                      2489
                                                 MUSICAL I
                                                        41
                                                MUSICAL II
                                                       168
                                    OFIMATICA Y LA WEB 2.0
                                                        90
                  OPINION PUBLICA Y MEDIOS DE COMUNICACION
                                                         6
              ORGANIZACION INDUSTRIAL Y RELACIONES HUMANAS
                                                        34
                         ORGANIZACION Y CONTROL INDUSTRIAL
                                                        23
          ORGANIZACION Y GESTION DE EMPRESAS AGROPECUARIAS
                                                        21
                                                 PORTUGUES
                                                       291
                                PRACTICAS COMUNICACIONALES
                                                        20
   PRACTICAS CORPORALES Y DEPORTIVAS EN EL MEDIO NATURAL I
                                                         8
                                      PRACTICAS EDUCATIVAS
                                                       669
                      PRACTICAS GIMNASTICAS Y EXPRESIVAS I
                                                         8
                     PRACTICAS GIMNASTICAS Y EXPRESIVAS II
                                                        18
            PRACTICAS LUDOMOTRICES Y DEPORTIVAS I II Y III
                                                        36
                        PRINCIPIOS BASICOS DE CONTABILIDAD
                                                       113
           PROBLEMATICAS CONTEMPORANEAS Y EDUCACION FISICA
                                                        17
                           PRODUCCION DE PLANTAS EN VIVERO
                                                        14
                        PRODUCCIONES ARTISTICAS INTEGRADAS
                                                       167
                                                  PROYECTO
                                                        23
                  PROYECTO DE PRACTICAS PROFESIONALIZANTES
                                                       146
                           PROYECTO PRODUCTIVO TECNOLOGICO
                                                        10
                                                PSICOLOGIA
                                                       547
                                                   QUIMICA
                                                      1646
                                          QUIMICA APLICADA
                                                        34
                                        RELACIONES HUMANAS
                                                        23
            RESISTENCIA Y CALCULO DE ELEMENTOS DE MAQUINAS
                                                        24
                                    RESPONSABILIDAD SOCIAL
                                                        19
                         SECTOR DE TECNOLOGIAS ESPECIFICAS
                                                        50
                            SEGURIDAD E HIGIENE INDUSTRIAL
                                                        46
                         SEMINARIO DE PRACTICA PROFESIONAL
                                                         2
                           SISTEMA DE INFORMACION CONTABLE
                                                       144
                                                SOCIOLOGIA
                                                        97
                                         STE - CUNICULTURA
                                                        31
                                   TALLER DE BIDIMENSION I
                                                        18
                                  TALLER DE BIDIMENSION II
                                                        30
                             TALLER DE TRIDIMENSION I Y II
                                                        65
                                                    TEATRO
                                                        51
                                                TECNOLOGIA
                                                      2255
                                     TECNOLOGIA DE CONTROL
                                                        10
                                     TECNOLOGIA DE GESTION
                                                        10
            TECNOLOGIA DE LA COMUNICACION Y LA INFORMATICA
                                                         8
               TECNOLOGIA DE LA INFORMACION Y COMUNICACION
                                                       456
            TECNOLOGIA DE LA INFORMACION Y LA COMUNICACION
                                                       139
                               TECNOLOGIA DE LOS ALIMENTOS
                                                        33
                              TECNOLOGIA DE LOS MATERIALES
                                                         8
           TECNOLOGIAS DE LA INFORMACION Y LA COMUNICACION
                                                        36
                    TEORIA Y GESTION DE LAS ORGANIZACIONES
                                                       201
                  TEORIA Y GESTION DE LAS ORGANIZACIONES I
                                                        15
                 TEORIA Y GESTION DE LAS ORGANIZACIONES II
                                                        37
                         TEORIAS DE LA COMUNICACION I Y II
                                                        20
                                             TERMODINAMICA
                                                        24
                             TRABAJOS PRACTICOS DE QUIMICA
                                                        28
                   TRABAJOS PRACTICOS DE QUIMICA ANALITICA
                                                        23
                    TRABAJOS PRACTICOS DE QUIMICA ORGANICA
                                                        23
            TRABAJOS PRACTICOS DE TECNOL. DE LOS ALIMENTOS
                                                        33
                                       TRIDIMENSION I Y II
                                                        50
                                                   TURISMO
                                                       180
                                                  TUTORIAS
                                                       139

In [276]:
Victoria <- rbind(Victoria_primaria, Victoria_secundaria)

In [277]:
Fa <- table(Victoria$NivelEnseñanza)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_nivel <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_nivel

           Fa    Fr   fip   FA    FR
PRIMARIO   30890 0.37 37.45 30890 0.37
SECUNDARIO 51591 0.63 62.55 82481 1.00

In [278]:
Fa <- table(Victoria$turno)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_turno <- round(cbind(Fa, Fr, fip,FA, FR),3)
tabla_frecuencias_turno

Fa <- table(Victoria_primaria$turno)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_turno_p <- round(cbind(Fa, Fr, fip,FA, FR),3)
tabla_frecuencias_turno_p

Fa <- table(Victoria_secundaria$turno)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_turno_s <- round(cbind(Fa, Fr, fip,FA, FR),3)
tabla_frecuencias_turno_s

         Fa    Fr    fip    FA    FR
COMPLETO  5341 0.065  6.475  5341 0.065
MAÑANA   48675 0.590 59.014 54016 0.655
NOCHE     1423 0.017  1.725 55439 0.672
ROTATIVO    26 0.000  0.032 55465 0.672
TARDE    27016 0.328 32.754 82481 1.000

         Fa    Fr    fip    FA    FR
COMPLETO  5341 0.173 17.290  5341 0.173
MAÑANA   13581 0.440 43.966 18922 0.613
TARDE    11968 0.387 38.744 30890 1.000

         Fa    Fr    fip    FA    FR
MAÑANA   35094 0.680 68.023 35094 0.680
NOCHE     1423 0.028  2.758 36517 0.708
ROTATIVO    26 0.001  0.050 36543 0.708
TARDE    15048 0.292 29.168 51591 1.000

In [279]:
Fa <- table(Victoria_primaria$EsPrivada)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_sector_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_sector_p

Fa <- table(Victoria_secundaria$EsPrivada)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_sector_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_sector_s

  Fa    Fr   fip   FA    FR
N 24336 0.79 78.78 24336 0.79
S  6554 0.21 21.22 30890 1.00

  Fa    Fr   fip   FA    FR
N 45869 0.89 88.91 45869 0.89
S  5722 0.11 11.09 51591 1.00

In [280]:
Fa <- table(Victoria_primaria$Año_curso)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_cursos_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_cursos_p

Fa <- table(Victoria_secundaria$Año_curso)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_cursos_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_cursos_s

        Fa   Fr   fip   FA    FR
CUARTO  4416 0.14 14.30  4416 0.14
PRIMERO 5120 0.17 16.57  9536 0.31
QUINTO  5036 0.16 16.30 14572 0.47
SEGUNDO 5188 0.17 16.80 19760 0.64
SEXTO   5592 0.18 18.10 25352 0.82
TERCERO 5538 0.18 17.93 30890 1.00

        Fa    Fr   fip   FA    FR
CUARTO   8228 0.16 15.95  8228 0.16
PRIMERO  7845 0.15 15.21 16073 0.31
QUINTO   7567 0.15 14.67 23640 0.46
SEGUNDO 10177 0.20 19.73 33817 0.66
SEPTIMO   819 0.02  1.59 34636 0.67
SEXTO    8657 0.17 16.78 43293 0.84
TERCERO  8298 0.16 16.08 51591 1.00

In [281]:
Fa <- table(Victoria_primaria$ModEnseñanza)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_modEnseñanza_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_modEnseñanza_p

Fa <- table(Victoria_secundaria$ModEnseñanza)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_modEnseñanza_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_modEnseñanza_s

              Fa    Fr   fip   FA    FR
Comun         29520 0.96 95.56 29520 0.96
Escuelas NINA  1370 0.04  4.44 30890 1.00

            Fa    Fr   fip   FA    FR
Agrotécnica  2081 0.04  4.03  2081 0.04
Comun       42910 0.83 83.17 44991 0.87
Técnica      6600 0.13 12.79 51591 1.00

In [282]:
Fa <- table(Victoria_primaria$Condición)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_condicion_p <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_condicion_p

Fa <- table(Victoria_secundaria$Condición)
Fr <- prop.table(Fa)
fip <- prop.table(Fa)*100
FA <- cumsum(Fa)
FR <- cumsum(Fr)
tabla_frecuencias_condicion_s <- round(cbind(Fa, Fr, fip,FA, FR),2)
tabla_frecuencias_condicion_s

         Fa    Fr   fip   FA    FR
Aprobado 29405 0.95 95.19 29405 0.95
Rinde     1485 0.05  4.81 30890 1.00

         Fa    Fr   fip   FA    FR
Aprobado 41912 0.81 81.24 41912 0.81
Rinde     9679 0.19 18.76 51591 1.00

In [283]:
Victoria_primaria_primero <- dplyr::select(filter(Victoria_primaria, Año_curso == "PRIMERO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_segundo <- dplyr::select(filter(Victoria_primaria, Año_curso == "SEGUNDO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_tercero <- dplyr::select(filter(Victoria_primaria, Año_curso == "TERCERO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_cuarto <- dplyr::select(filter(Victoria_primaria, Año_curso == "CUARTO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_quinto <- dplyr::select(filter(Victoria_primaria, Año_curso == "QUINTO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_sexto <- dplyr::select(filter(Victoria_primaria, Año_curso == "SEXTO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_primaria_septimo <- dplyr::select(filter(Victoria_primaria, Año_curso == "SEPTIMO" & (asignatura == "LENGUA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

In [342]:
Victoria_secundaria_primero <- dplyr::select(filter(Victoria_secundaria, Año_curso == "PRIMERO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_segundo <- dplyr::select(filter(Victoria_secundaria, Año_curso == "SEGUNDO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_tercero <- dplyr::select(filter(Victoria_secundaria, Año_curso == "TERCERO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_cuarto <- dplyr::select(filter(Victoria_secundaria, Año_curso == "CUARTO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_quinto <- dplyr::select(filter(Victoria_secundaria, Año_curso == "QUINTO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_sexto <- dplyr::select(filter(Victoria_secundaria, Año_curso == "SEXTO" & (asignatura == "LENGUA Y LITERATURA" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

Victoria_secundaria_septimo <- dplyr::select(filter(Victoria_secundaria, Año_curso == "SEPTIMO" & (asignatura == "CIENCIAS AGROPECUARIAS" | asignatura == "MATEMATICA"))       
                                             , CodigoUnicoEscolar, asignatura, Promedio, departamento, Documento) %>%
  distinct()

In [285]:
Frec_Prom1 <- fdt(filter(Victoria_primaria_primero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom1 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits  f   rf rf(%)  cf  cf(%)
  [4.95,5.418) 51 0.09  9.06  51   9.06
 [5.418,5.886) 19 0.03  3.37  70  12.43
 [5.886,6.355) 46 0.08  8.17 116  20.60
 [6.355,6.823) 36 0.06  6.39 152  27.00
 [6.823,7.291) 40 0.07  7.10 192  34.10
 [7.291,7.759) 76 0.13 13.50 268  47.60
 [7.759,8.227) 55 0.10  9.77 323  57.37
 [8.227,8.695) 92 0.16 16.34 415  73.71
 [8.695,9.164) 60 0.11 10.66 475  84.37
 [9.164,9.632) 44 0.08  7.82 519  92.18
  [9.632,10.1) 44 0.08  7.82 563 100.00

In [286]:
Frec_Prom2 <- fdt(filter(Victoria_primaria_segundo,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom2 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits  f   rf rf(%)  cf  cf(%)
  [4.95,5.418) 52 0.09  9.45  52   9.45
 [5.418,5.886) 19 0.03  3.45  71  12.91
 [5.886,6.355) 40 0.07  7.27 111  20.18
 [6.355,6.823) 26 0.05  4.73 137  24.91
 [6.823,7.291) 30 0.05  5.45 167  30.36
 [7.291,7.759) 75 0.14 13.64 242  44.00
 [7.759,8.227) 46 0.08  8.36 288  52.36
 [8.227,8.695) 99 0.18 18.00 387  70.36
 [8.695,9.164) 74 0.13 13.45 461  83.82
 [9.164,9.632) 43 0.08  7.82 504  91.64
  [9.632,10.1) 46 0.08  8.36 550 100.00

In [287]:
Frec_Prom3 <- fdt(filter(Victoria_primaria_tercero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom3 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits   f   rf rf(%)  cf  cf(%)
  [4.95,5.418)  48 0.08  8.30  48   8.30
 [5.418,5.886)  19 0.03  3.29  67  11.59
 [5.886,6.355)  56 0.10  9.69 123  21.28
 [6.355,6.823)  30 0.05  5.19 153  26.47
 [6.823,7.291)  46 0.08  7.96 199  34.43
 [7.291,7.759)  88 0.15 15.22 287  49.65
 [7.759,8.227)  50 0.09  8.65 337  58.30
 [8.227,8.695) 117 0.20 20.24 454  78.55
 [8.695,9.164)  47 0.08  8.13 501  86.68
 [9.164,9.632)  41 0.07  7.09 542  93.77
  [9.632,10.1)  36 0.06  6.23 578 100.00

In [288]:
Frec_Prom4 <- fdt(filter(Victoria_primaria_cuarto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom4 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

 Class limits   f   rf rf(%)  cf  cf(%)
 [4.95,5.465)  39 0.08  8.09  39   8.09
 [5.465,5.98)  30 0.06  6.22  69  14.32
 [5.98,6.495)  51 0.11 10.58 120  24.90
 [6.495,7.01)  52 0.11 10.79 172  35.68
 [7.01,7.525)  32 0.07  6.64 204  42.32
 [7.525,8.04) 105 0.22 21.78 309  64.11
 [8.04,8.555)  32 0.07  6.64 341  70.75
 [8.555,9.07)  83 0.17 17.22 424  87.97
 [9.07,9.585)  34 0.07  7.05 458  95.02
 [9.585,10.1)  24 0.05  4.98 482 100.00

In [289]:
Frec_Prom5 <- fdt(filter(Victoria_primaria_quinto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom5 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

 Class limits  f   rf rf(%)  cf  cf(%)
 [4.95,5.465) 53 0.10 10.41  53  10.41
 [5.465,5.98) 24 0.05  4.72  77  15.13
 [5.98,6.495) 51 0.10 10.02 128  25.15
 [6.495,7.01) 66 0.13 12.97 194  38.11
 [7.01,7.525) 36 0.07  7.07 230  45.19
 [7.525,8.04) 87 0.17 17.09 317  62.28
 [8.04,8.555) 58 0.11 11.39 375  73.67
 [8.555,9.07) 60 0.12 11.79 435  85.46
 [9.07,9.585) 20 0.04  3.93 455  89.39
 [9.585,10.1) 54 0.11 10.61 509 100.00

In [290]:
Frec_Prom6 <- fdt(filter(Victoria_primaria_sexto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom6 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

 Class limits  f   rf rf(%)  cf  cf(%)
 [4.95,5.465) 42 0.08  8.24  42   8.24
 [5.465,5.98) 29 0.06  5.69  71  13.92
 [5.98,6.495) 67 0.13 13.14 138  27.06
 [6.495,7.01) 75 0.15 14.71 213  41.76
 [7.01,7.525) 37 0.07  7.25 250  49.02
 [7.525,8.04) 74 0.15 14.51 324  63.53
 [8.04,8.555) 37 0.07  7.25 361  70.78
 [8.555,9.07) 75 0.15 14.71 436  85.49
 [9.07,9.585) 26 0.05  5.10 462  90.59
 [9.585,10.1) 48 0.09  9.41 510 100.00

In [291]:
Frec_Prom11 <- fdt(filter(Victoria_secundaria_primero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom11 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits  f   rf rf(%)  cf  cf(%)
 [2.643,3.321)  3 0.01  0.54   3   0.54
 [3.321,3.999) 16 0.03  2.88  19   3.42
 [3.999,4.677) 52 0.09  9.37  71  12.79
 [4.677,5.355) 97 0.17 17.48 168  30.27
 [5.355,6.033) 97 0.17 17.48 265  47.75
 [6.033,6.711) 88 0.16 15.86 353  63.60
 [6.711,7.388) 61 0.11 10.99 414  74.59
 [7.388,8.066) 60 0.11 10.81 474  85.41
 [8.066,8.744) 48 0.09  8.65 522  94.05
 [8.744,9.422) 22 0.04  3.96 544  98.02
  [9.422,10.1) 11 0.02  1.98 555 100.00

In [292]:
Frec_Prom22 <- fdt(filter(Victoria_secundaria_segundo,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom22 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits   f   rf rf(%)  cf  cf(%)
 [1.653,2.391)  10 0.02  1.68  10   1.68
 [2.391,3.128)  24 0.04  4.04  34   5.72
 [3.128,3.866)  49 0.08  8.25  83  13.97
 [3.866,4.604)  70 0.12 11.78 153  25.76
 [4.604,5.341) 113 0.19 19.02 266  44.78
 [5.341,6.079)  79 0.13 13.30 345  58.08
 [6.079,6.816)  72 0.12 12.12 417  70.20
 [6.816,7.554)  68 0.11 11.45 485  81.65
 [7.554,8.292)  44 0.07  7.41 529  89.06
 [8.292,9.029)  57 0.10  9.60 586  98.65
 [9.029,9.767)   8 0.01  1.35 594 100.00

In [293]:
Frec_Prom33 <- fdt(filter(Victoria_secundaria_tercero,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom33 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits   f   rf rf(%)  cf  cf(%)
  [0.99,1.901)   3 0.01  0.59   3   0.59
 [1.901,2.812)   8 0.02  1.58  11   2.18
 [2.812,3.723)  27 0.05  5.35  38   7.52
 [3.723,4.634)  54 0.11 10.69  92  18.22
 [4.634,5.545)  83 0.16 16.44 175  34.65
 [5.545,6.456) 106 0.21 20.99 281  55.64
 [6.456,7.367) 103 0.20 20.40 384  76.04
 [7.367,8.278)  49 0.10  9.70 433  85.74
 [8.278,9.189)  60 0.12 11.88 493  97.62
  [9.189,10.1)  12 0.02  2.38 505 100.00

In [294]:
Frec_Prom44 <- fdt(filter(Victoria_secundaria_cuarto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom44 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits  f   rf rf(%)  cf  cf(%)
  [0.99,1.901)  5 0.01  1.04   5   1.04
 [1.901,2.812) 16 0.03  3.33  21   4.38
 [2.812,3.723) 33 0.07  6.88  54  11.25
 [3.723,4.634) 40 0.08  8.33  94  19.58
 [4.634,5.545) 70 0.15 14.58 164  34.17
 [5.545,6.456) 98 0.20 20.42 262  54.58
 [6.456,7.367) 89 0.19 18.54 351  73.12
 [7.367,8.278) 38 0.08  7.92 389  81.04
 [8.278,9.189) 61 0.13 12.71 450  93.75
  [9.189,10.1) 30 0.06  6.25 480 100.00

In [295]:
Frec_Prom55 <- fdt(filter(Victoria_secundaria_quinto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom55 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits   f   rf rf(%)  cf  cf(%)
 [1.653,2.498)   5 0.01  1.31   5   1.31
 [2.498,3.343)  11 0.03  2.89  16   4.20
 [3.343,4.187)  12 0.03  3.15  28   7.35
 [4.187,5.032)  47 0.12 12.34  75  19.69
 [5.032,5.877)  23 0.06  6.04  98  25.72
 [5.877,6.721) 109 0.29 28.61 207  54.33
 [6.721,7.566)  56 0.15 14.70 263  69.03
 [7.566,8.411)  64 0.17 16.80 327  85.83
 [8.411,9.255)  33 0.09  8.66 360  94.49
  [9.255,10.1)  21 0.06  5.51 381 100.00

In [296]:
Frec_Prom66 <- fdt(filter(Victoria_secundaria_sexto,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom66 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits  f   rf rf(%)  cf  cf(%)
  [2.97,3.683)  8 0.02  2.42   8   2.42
 [3.683,4.396) 24 0.07  7.25  32   9.67
 [4.396,5.109) 32 0.10  9.67  64  19.34
 [5.109,5.822) 24 0.07  7.25  88  26.59
 [5.822,6.535) 75 0.23 22.66 163  49.24
 [6.535,7.248) 38 0.11 11.48 201  60.73
 [7.248,7.961) 38 0.11 11.48 239  72.21
 [7.961,8.674) 48 0.15 14.50 287  86.71
 [8.674,9.387) 24 0.07  7.25 311  93.96
  [9.387,10.1) 20 0.06  6.04 331 100.00

In [297]:
Frec_Prom77 <- fdt(filter(Victoria_secundaria_septimo,asignatura=="MATEMATICA")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom77 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits f   rf rf(%) cf  cf(%)
 [5.277,6.241) 2 0.14 14.29  2  14.29
 [6.241,7.206) 4 0.29 28.57  6  42.86
 [7.206,8.171) 3 0.21 21.43  9  64.29
 [8.171,9.135) 4 0.29 28.57 13  92.86
  [9.135,10.1) 1 0.07  7.14 14 100.00

In [314]:
Victoria_primaria_primero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     566    7.60  1.93     1.39   5      10     2.00 5     7.67    8.67
2 MATEMATICA 563    7.72  1.86     1.36   5      10     2.33 5     8.00    9.00
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 18.31
2 6.67 9.00 12.50 3.17 17.66

In [317]:
Victoria_primaria_segundo %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     550    7.66  1.98     1.41   5      10     2.34 5     8       9
2 MATEMATICA 550    7.81  1.94     1.39   5      10     2.00 5     8       9
  Q1   Q3   Sup.  Inf. CV
1 6.33 8.67 12.18 2.82 18.39
2 7.00 9.00 12.00 4.00 17.83

In [319]:
Victoria_primaria_tercero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     577    7.53  1.90     1.38   5      10     2.34 5     7.67    8.67
2 MATEMATICA 578    7.67  1.72     1.31   5      10     2.00 5     8.00    8.67
  Q1   Q3   Sup.  Inf. CV
1 6.33 8.67 12.18 2.82 18.31
2 6.67 8.67 11.67 3.67 17.08

In [321]:
Victoria_primaria_cuarto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR Rango Mediana Moda
1 LENGUA     469    7.51  1.76     1.33   5      10     2   5     7.67    8
2 MATEMATICA 482    7.57  1.76     1.33   5      10     2   5     7.67    8
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 17.68
2 6.67 8.67 11.67 3.67 17.54

In [324]:
Victoria_primaria_quinto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     522    7.58  1.91     1.38   5      10     2.00 5     7.67    8.00
2 MATEMATICA 509    7.55  1.97     1.40   5      10     2.34 5     7.67    8.33
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 18.21
2 6.33 8.67 12.18 2.82 18.58

In [326]:
Victoria_primaria_sexto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura Conteo Media Varianza Desvio Minimo Maximo IQR  Rango Mediana Moda
1 LENGUA     517    7.52  1.78     1.33   5      10     2.00 5     7.67    8
2 MATEMATICA 510    7.55  1.97     1.40   5      10     2.34 5     7.67    7
  Q1   Q3   Sup.  Inf. CV
1 6.67 8.67 11.67 3.67 17.75
2 6.33 8.67 12.18 2.82 18.60

In [327]:
Victoria_secundaria_primero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 529    6.78  2.20     1.48   3.33   10     2.33 6.67
2 MATEMATICA          555    6.43  2.21     1.49   2.67   10     2.34 7.33
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 6.67    6    5.67 8.00 11.50 2.17 21.90
2 6.33    6    5.33 7.67 11.18 1.82 23.13

In [330]:
Victoria_secundaria_segundo %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 598    6.50  2.61     1.61   1.00   10.00  2.34 9
2 MATEMATICA          594    5.82  3.03     1.74   1.67    9.67  2.67 8
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 6.33    6    5.33 7.67 11.18 1.82 24.85
2 6.00    6    4.33 7.00 11.00 0.33 29.91

In [332]:
Victoria_secundaria_tercero %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 484    6.67  2.40     1.55   1.67   10     2.33 8.33
2 MATEMATICA          505    6.21  2.91     1.71   1.00   10     2.33 9.00
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 6.67    6    5.67 8.00 11.50 2.17 23.20
2 6.33    6    5.00 7.33 10.82 1.50 27.47

In [334]:
Victoria_secundaria_cuarto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 460    6.98  2.66     1.63   2      10     2.33 8
2 MATEMATICA          480    6.25  3.66     1.91   1      10     2.67 9
  Mediana Moda Q1 Q3   Sup.  Inf. CV
1 7.00    6.00 6  8.33 11.82 2.5  23.38
2 6.33    6.33 5  7.67 11.68 1.0  30.62

In [336]:
Victoria_secundaria_quinto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 379    7.39  2.50     1.58   2.00   10     2.67 8.00
2 MATEMATICA          381    6.62  2.73     1.65   1.67   10     2.00 8.33
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 7.67    8    6.00 8.67 12.68 2.00 21.41
2 6.67    6    5.67 7.67 10.67 2.67 24.94

In [338]:
Victoria_secundaria_sexto %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura          Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 LENGUA Y LITERATURA 306    7.45  2.40     1.55   2.67   10     2.34 7.33
2 MATEMATICA          331    6.74  2.73     1.65   3.00   10     2.33 7.00
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 7.67    8    6.33 8.67 12.18 2.82 20.78
2 6.67    6    5.67 8.00 11.50 2.17 24.50

In [343]:
Frec_Prom11 <- fdt(filter(Victoria_secundaria_septimo,asignatura=="CIENCIAS AGROPECUARIAS")$Promedio ,breaks="Sturges",na.rm=TRUE) # calcula la distribución de frecuencias utilizando la regla Sturge

Frec_Prom11 #nos brinda una tabla con los calculos de la distribución de frecuencias. breaks=c('Sturges', 'Scott', 'FD')

  Class limits  f   rf rf(%) cf  cf(%)
  [1.653,2.86)  1 0.02  2.04  1   2.04
  [2.86,4.067)  3 0.06  6.12  4   8.16
 [4.067,5.273)  2 0.04  4.08  6  12.24
  [5.273,6.48)  9 0.18 18.37 15  30.61
  [6.48,7.687) 20 0.41 40.82 35  71.43
 [7.687,8.893)  6 0.12 12.24 41  83.67
  [8.893,10.1)  8 0.16 16.33 49 100.00

In [344]:
Victoria_secundaria_septimo %>%
  group_by(asignatura) %>%
  summarise(Conteo = n(),
            Media = round(mean(Promedio, na.rm = TRUE), 2),
            Varianza = round(var(Promedio, na.rm = TRUE), 2),
            Desvio = round(sd(Promedio, na.rm = TRUE), 2),
            Minimo = round(min(Promedio, na.rm = TRUE), 2),
            Maximo = round(max(Promedio, na.rm = TRUE), 2),
            IQR = round(IQR(Promedio, na.rm = TRUE), 2),
            Rango = Maximo - Minimo,
            Mediana = round(median(Promedio, na.rm = TRUE), 2),
            Moda = Mode(Promedio),
            Q1 = round(quantile(Promedio, 0.25, na.rm = TRUE), 2),
            Q3 = round(quantile(Promedio, 0.75, na.rm = TRUE), 2),
            Sup. = round((Q3 + 1.5 * IQR), 2),
            Inf. = round((Q1 - 1.5 * IQR), 2),
            CV = round(sd(Promedio, na.rm = TRUE) / mean(Promedio, na.rm = TRUE) * 100, 2))

  asignatura             Conteo Media Varianza Desvio Minimo Maximo IQR  Rango
1 CIENCIAS AGROPECUARIAS 49     7.06  2.93     1.71   1.67   10     1.67 8.33
2 MATEMATICA             14     7.57  1.60     1.26   5.33   10     1.83 4.67
  Mediana Moda Q1   Q3   Sup.  Inf. CV
1 7.00    7.00 6.33 8.00 10.50 3.83 24.22
2 7.67    8.67 6.75 8.58 11.32 4.00 16.70